<td class="wrapper">
    <p class="user-name">Hey {{USERNAME}},</p>

    <p>We're thrilled to have you join <b>Buzzer</b>-your new space to connect, share, and stay in the loop! 🎉 But before you dive in, let’s make sure it’s really you.

    <p>Hit the button below to verify your account and unlock the full Buzzer experience:</p></p><br />
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
            <tr>
                <td align="left">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td> <a href="{{URL}}" target=" _blank">Verify My Account</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="bottom-text">
        If you didn’t sign up for Buzzer, no worries! You can safely ignore this email.<br /><br />
        Stay buzzing,<br />
        The Buzzer Team 🐝
    </div>
    
</td>