<td class="wrapper">
  <p class="user-name">Hi {{USERNAME}},</p>
  <p>
    We’re so excited to have you join Buzzer! 🎉 Think of this as your new
    online hangout, and we can’t wait for you to dive in and explore.
  </p>
  <p>
    Before you get started, take a sec to update your account details so we can
    get to know you better!
  </p>
  <br />
  <table
    role="presentation"
    border="0"
    cellpadding="0"
    cellspacing="0"
    class="btn btn-primary"
  >
    <tbody>
      <tr>
        <td align="left">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td>
                  <a href="{{URL}}" target=" _blank">Update account details</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <p>
    Got questions? Need a hand? Just give us a shout at
    <a href="mailto:info@buzzer.com">info@buzzer.com</a>. We're always here to
    help!
  </p>
</td>
