.section {
  width: 100%;
}

.section-head {
  margin: 0 0 1.5rem;
  padding: 0;
  font-family: appFont;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.category {
  margin: 1rem 0 2rem;
}

.category-head {
  font-family: appFontMedium;
  font-size: 1.1rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.photo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
}

.profile-photo {
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.btn-div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.remove-btn {
  border: none;
  outline: none;
  background: red;
  color: white;
  border-radius: 5px;
  font-family: appFont;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.change-btn {
  border: none;
  outline: none;
  background: var(--app-theme-color);
  color: white;
  border-radius: 5px;
  font-family: appFont;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

.remove-btn:hover,
.change-btn:hover {
  opacity: 0.8;
}

.username-div {
  padding: 0 0.5rem;
}

.username {
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.5);
  font-family: appFont;
  border-radius: 8px;
  padding: 0.7rem;
  font-size: 1rem;
  width: 80%;
}

.username:focus {
  border: 1px solid var(--app-theme-color);
}

.error-text {
  display: block;
  margin-top: 0.6rem;
  font-family: appFont;
  font-size: 0.9rem;
  width: 80%;
  color: red;
}

.checking-text {
  display: block;
  margin-top: 0.6rem;
  font-family: appFont;
  font-size: 0.9rem;
  width: 80%;
  color: gray;
}

.bio {
  resize: none;
  width: 80%;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 0.7rem;
  font-family: appFont;
  font-size: 0.95rem;
}

.bio:focus {
  border: 1px solid var(--app-theme-color);
}

.link-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.link-name {
  font-family: appFont;
}

.link-value {
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.5);
  font-family: appFont;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.95rem;
  width: 60%;
}

.link-value:focus {
  border: 1px solid var(--app-theme-color);
}

.display-email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: appFontMedium;
  margin-top: 2.5rem;
  font-size: 1.05rem;
  padding-right: 1rem;
}

.email-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: var(--app-theme-color);
  margin-left: 1rem;
  cursor: pointer;
  flex-shrink: 0;
}

.save-btn-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.save-btn {
  background: var(--app-theme-color);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: appFont;
  border-radius: 5px;
  font-size: 1rem;
}

.save-btn:hover {
  opacity: 0.8;
}

.file-input {
  display: none;
}

.criteria-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.criteria-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.2rem;
}

.criteria-label {
  font-size: 0.95rem;
  font-family: appFont;
}

.criteria-checkbox {
  flex-shrink: 0;
  outline: none;
  margin-right: 0.5rem;
  accent-color: var(--app-theme-color);
  pointer-events: none;
  width: 0.9rem;
  height: 0.9rem;
}

.input-box {
  display: flex;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 8px;
  padding: 0.7rem;
  width: 80%;
}

.password {
  outline: none;
  border: none;
  background: none;
  font-family: appFont;
  font-size: 1rem;
  width: 100%;
  margin-right: 0.7rem;
}

.input-box:focus-within {
  border: 1px solid var(--app-theme-color);
}

.eye-icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: var(--app-theme-color);
  margin-left: auto;
  cursor: pointer;
  flex-shrink: 0;
}

.verification-text {
  display: block;
  font-family: appFont;
  font-size: 0.95rem;
}

.verification-box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.resend-box {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.resend-text {
  font-family: appFontMedium;
  color: var(--app-theme-color);
  cursor: pointer;
}

.resend-text:hover {
  text-decoration: underline;
}

.resend-time {
  font-family: appFont;
  color: gray;
  font-weight: 600;
  margin-left: 3rem;
  font-size: 0.9rem;
}

.verification-input {
  width: 18rem;
  outline: none;
  border: none;
  font-family: appFontMedium;
  font-size: 1.1rem;
  letter-spacing: 2rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--app-theme-color);
  border-radius: 5px;
}

.info-div {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.info-head {
  font-family: appFontMedium;
  font-size: 1.1rem;
}

.info-list {
  margin: 1rem 0 0;
}

.info-item {
  font-family: appFont;
  margin-bottom: 0.5rem;
}

.disable-password-box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.disable-password-text {
  font-family: appFontMedium;
  margin-bottom: 1rem;
}

.disable-btn-div {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.disable-btn {
  background: var(--app-theme-color);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: appFont;
  border-radius: 5px;
  font-size: 1rem;
}

.disable-btn:hover,
.delete-btn:hover,
.cancel-btn:hover {
  opacity: 0.8;
}

.disable-category {
  padding: 0 1rem;
}

.account-btn-div {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.cancel-btn {
  background: var(--app-theme-color);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: appFont;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 1.5rem;
}

.delete-btn {
  background: red;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: appFont;
  border-radius: 5px;
  font-size: 1rem;
}

.back-icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.6rem;
  display: none;
  cursor: pointer;
}

.back-icon:hover {
  color: var(--app-theme-color);
}

.block-btn {
  opacity: 0.4;
  pointer-events: none;
}

.loading-btn {
  opacity: 0.5;
  pointer-events: none;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .username,
  .bio,
  .input-box,
  .error-text {
    width: 90%;
  }

  .link-value {
    width: 75%;
  }
}

@media screen and (max-width: 1000px) {
  .username,
  .bio,
  .input-box,
  .error-text {
    width: 100%;
  }

  .link-value {
    width: 100%;
  }

  .verification-input {
    width: 15rem;
  }

  .info-div {
    padding: 0 0.5rem;
  }

  .info-list {
    margin: 1rem 0 0;
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .section {
    padding-bottom: 2rem;
  }

  .section-head {
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
    padding: 2rem 1rem 0.5rem;
    margin: 0 0 1rem;
  }

  .category {
    padding: 0 1.5rem;
  }

  .back-icon {
    display: inline;
  }

  .save-btn-div {
    padding: 1rem 1.5rem;
  }

  .info-div {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .section-head {
    padding: 1.5rem 1rem 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .category,
  .info-div {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 500px) {
  .verification-input {
    width: 12rem;
  }
}
