.section {
  margin-left: 18%;
  width: 82%;
  padding: 2rem;
  padding-top: 0;
  overflow-y: auto;
  height: 100vh;
}

.section-header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.header-item {
  font-family: appFontMedium;
  margin-right: 7rem;
  padding: 0rem 1rem 1rem;
  font-size: 1.05rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  text-align: left;
  white-space: nowrap;
}

.header-item:hover {
  color: var(--app-theme-color);
}

.active-item {
  color: var(--app-theme-color);
  border-bottom: 2px solid var(--app-theme-color);
}

.select-div {
  display: flex;
  align-items: center;
}

.select-box {
  display: flex;
  align-items: center;
}

.period-text {
  font-family: appFontMedium;
}

.period-text {
  font-family: appFontMedium;
  white-space: nowrap;
}

.period-select {
  outline: none;
  border: 2px solid var(--app-theme-color);
  padding: 0.2rem;
  font-family: appFontMedium;
  border-radius: 5px;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.custom-period-div {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.custom-period-container {
  display: flex;
  align-items: center;
}

.custom-period-box {
  display: flex;
  align-items: center;
}

.custom-period-box:nth-child(2) {
  margin-left: 2rem;
}

.period-input {
  outline: none;
  border: 2px solid var(--app-theme-color);
  border-radius: 8px;
  padding: 0.5rem;
  font-family: appFontMedium;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.period-btn {
  outline: none;
  border: none;
  background: var(--app-theme-color);
  color: white;
  border-radius: 5px;
  font-family: appFont;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  margin-left: 3rem;
}

.period-btn:hover {
  opacity: 0.8;
}

.custom-date-box {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-family: appFontMedium;
  font-size: 0.95rem;
  white-space: nowrap;
}

.disable-btn {
  opacity: 0.6;
  pointer-events: none;
}

.section-head {
  margin: 0;
  font-family: appFont;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  display: none;
}

.back-icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.6rem;
  display: none;
  cursor: pointer;
}

.back-icon:hover {
  color: var(--app-theme-color);
}

/* Media Queries */

@media screen and (max-width: 1300px) {
  .header-item {
    margin-right: 5rem;
  }

  .custom-select-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-period-div {
    margin-left: 0rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .period-btn {
    margin-left: 0;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .section {
    margin-left: 22%;
    width: 78%;
  }

  .header-item {
    margin-right: 3.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .header-item {
    margin-right: 7rem;
  }

  .custom-period-box:nth-child(2) {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .section {
    margin-left: 25%;
    width: 75%;
  }

  .custom-period-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-period-box:nth-child(2) {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 900px) {
  .section {
    margin-left: 81px;
    width: calc(100% - 81px);
  }
}

@media screen and (max-width: 800px) {
  .header-list {
    width: 100%;
    justify-content: space-between;
  }

  .header-item {
    margin-right: 0;
  }

  .section {
    padding: 0 1rem 2rem;
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 600px) {
  .section {
    margin-left: 0;
    width: 100%;
  }

  .section-header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1rem;
  }

  .header-list {
    padding-top: 1rem;
  }

  .back-icon,
  .section-head {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .select-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .select-box {
    margin-top: 0.5rem;
  }

  .period-select {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .section {
    padding: 0 0.5rem 2rem;
  }

  .header-item {
    font-size: 0.95rem;
    padding: 0rem 1rem 0.5rem;
  }

  .back-icon {
    margin-right: 0.7rem;
  }

  .custom-date-box {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 350px) {
}
