.carousel {
  width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  border-radius: 5px;
}

.pagination-box {
  position: absolute;
  top: 2%;
  right: 1%;
  z-index: 2;
  color: black;
  font-family: appFontMedium;
  font-size: 0.95rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
}

.dot-box::-webkit-scrollbar {
  display: none;
}

.dot-box {
  position: absolute;
  z-index: 2;
  top: -15px;
  padding: 0;
  color: gray;
  font-weight: 900;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  max-width: 100px;
}

.dot-cover {
  position: absolute;
  z-index: 3;
  top: 10px;
  background: transparent;
  width: 100px;
}

.current-index {
  color: white;
}

.left-arrow-box {
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 2%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  padding: 0.05rem;
  box-shadow: 1px 1px 6px -2px black;
}

.right-arrow-box {
  z-index: 2;
  position: absolute;
  top: 45%;
  right: 2%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  padding: 0.05rem;
  box-shadow: 1px 1px 6px -2px black;
}

.left-arrow,
.right-arrow {
  width: 1.4rem;
  height: 1.4rem;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.media-description-container {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  max-width: 75%;
  max-height: 50px;
  overflow: hidden;
  cursor: default;
  background: rgba(0, 0, 0, 0.3);
  padding: 0 0.5rem;
  border-radius: 0 5px 0 0;
}

.media-description {
  color: white;
  font-family: appFont;
  font-size: 0.9rem;
  word-wrap: break-word;
  width: calc(100% - 40px);
  padding: 0.5rem 0;
  margin-right: 0.2rem;
}

.webkit-style {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.more-text {
  color: white;
  margin-left: auto;
  font-family: appFontMedium;
  font-size: 0.9rem;
  cursor: pointer;
  align-self: flex-end;
}

.show-desc {
  display: block;
  padding-bottom: 0.5rem;
}

.show-description {
  background: rgba(0, 0, 0, 0.7);
}

.hide-data {
  display: none;
}

/* Animations */

@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
