.content {
  border-top: 1px solid rgb(128, 128, 128, 0.4);
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.reels-content {
  border-top: none;
  height: 100vh;
  scroll-snap-align: start;
  margin-bottom: 0;
  padding: 1rem 0;
}

.content-head {
  font-family: appFont;
  font-weight: 500;
  margin: 0;
  padding: 1.1rem 0;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-head-box {
  display: flex;
  align-items: center;
  width: calc(100% - 2.5rem);
  position: relative;
}

.content-name-box {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}

.content-name-box2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.collaborators {
  font-weight: 600;
  display: inline;
  cursor: pointer;
}

.collaborators-list {
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: 100px;
  z-index: 4;
  margin: 0;
  padding: 0;
  background: white;
  box-shadow: 2px 2px 10px -4px black;
  border-radius: 5px;
  overflow: auto;
  width: 60%;
  min-width: 350px;
  display: none;
}

.collaborators:hover .collaborators-list {
  display: block;
}

.collaborators-item {
  padding: 1rem;
  width: 100%;
}

.collaborators-link {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.collaborators-item:hover {
  background: rgb(128, 128, 128, 0.15);
}

.collaborators-img {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  object-fit: cover;
}

.collaborators-names {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  width: calc(100% - 9rem);
}

.user-link {
  text-decoration: none;
  color: black;
}

.collaborators-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.collaborators-username {
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.follow-btn-box {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.follow-btn {
  outline: none;
  border: none;
  background: var(--app-theme-color);
  color: white;
  border-radius: 5px;
  font-family: appFont;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

.follow-btn:hover {
  opacity: 0.8;
}

.follow-txt {
  visibility: hidden;
}

.disable-btn {
  opacity: 0.5;
  pointer-events: none;
}

.content-nickname {
  font-weight: 600;
}

.content-username {
  color: gray;
  margin-left: 0.5rem;
}

.dot {
  fill: gray;
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
}

.content-time {
  color: gray;
}

.menu-div {
  position: relative;
  display: inline;
}

.reel-menu-div {
  position: absolute;
  right: -1rem;
  top: 0;
  display: inline;
  font-family: appFont;
  font-size: 0.85rem;
}

.content-menu {
  color: gray;
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.reel-content-menu {
  color: black;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  align-self: center;
  margin-bottom: 1rem;
  display: none;
}

.reel-content-menu:hover {
  color: var(--app-theme-color);
}

.active-menu {
  color: var(--app-theme-color);
}

.content-menu:hover {
  color: var(--app-theme-color);
}

.content-menu2 {
  color: gray;
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  display: none;
}

.menu-list {
  position: absolute;
  top: 25px;
  right: -350%;
  z-index: 4;
  background: white;
  box-shadow: 1px 1px 10px -5px black;
  border-radius: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  height: 0;
  overflow: hidden;
  max-height: 75vh;
}

.reel-menu-list {
  position: absolute;
  top: 1rem;
  right: -140px
}

.menu-item {
  text-align: center;
  white-space: nowrap;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  color: var(--app-theme-color);
  font-weight: 600;
}

.menu-red {
  color: red !important;
}

.content-box {
  display: flex;
  max-height: 85vh;
}

.reels-content-box {
  max-height: none;
  height: 100%;
}

.carousel-container {
  width: 100%;
  position: relative;
}

.menu-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  user-select: none;
}

.profile-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.profile-img-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15rem;
  border-radius: 50%;
  background: white;
}

.profile-img-span2 {
  background: rgba(43, 48, 54, 0.3);
}

.profile-img-span3 {
  background: linear-gradient(to bottom left,
      #dc143c,
      var(--app-theme-color) 60%);
}

.profile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.profile-icon-box {
  position: absolute;
  bottom: -10px;
  background: var(--app-theme-color);
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-icon {
  fill: white;
  width: 0.95rem;
  height: 0.9rem;
}

.profile-icon-box2 {
  position: absolute;
  bottom: -10px;
  background: white;
  padding: 0.35rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px -3px black;
}

.profile-icon2 {
  color: var(--app-theme-color);
  width: 0.8rem;
  height: 0.8rem;
}

.menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.menu-icon-box {
  background: rgb(128, 128, 128, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.7rem;
}

.menu-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: black;
  opacity: 0.85;
}

.like-icon {
  transform: scale(1.2);
}

.red-icon {
  fill: red;
  animation: iconAnimation 0.5s ease-in-out 0s 1 normal both;
}

.like-skeleton {
  fill: rgba(255, 0, 0, 0.2) !important;
  /* Faint red */
  animation: pulse-skeleton 1.2s infinite ease-in-out;
}

.saved-icon {
  fill: var(--app-theme-color);
  animation: iconAnimation 0.5s ease-in-out 0s 1 normal both;
}

.save-skeleton {
  fill: rgba(168, 85, 247, 0.2) !important;
  animation: pulse-skeleton 1.2s infinite ease-in-out;
}

.menu-text {
  font-family: appFontBold;
  font-size: 0.85rem;
  margin-top: 0.2rem;
  opacity: 0.85;
}

.menu-icon-box:hover {
  box-shadow: 1px 1px 5px -3px black;
}

.menu-icon-box2 {
  pointer-events: none;
}

.content-description {
  margin-top: 1rem;
  font-family: appFont;
  font-size: 0.9rem;
  white-space: pre-line;
  word-wrap: break-word;
  max-height: 50px;
  overflow: hidden;
  position: relative;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.empty-disc {
  margin-top: 2.3rem;
}

.content-description2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.2rem;
  /* Height of the fade area */
  background: linear-gradient(to bottom, transparent, white);
}

.more-text {
  margin-top: 0.1rem;
  z-index: 2;
  font-family: appFontMedium;
  font-size: 0.9rem;
  color: gray;
  cursor: pointer;
  display: inline-block;
}

.show-more {
  display: block;
}

.small-menu-container {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  bottom: -35px;
  width: 100%;
  column-gap: 2rem;
  padding: 0 0.5rem;
}

.small-details-box {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.3rem;
}

.small-details-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: black;
  opacity: 0.85;
}

.small-details-value {
  font-family: appFontBold;
  font-size: 0.85rem;
  opacity: 0.85;
}

.small-details-box:nth-child(4) {
  margin-left: auto;
}

.auth-user {
  color: var(--app-theme-color);
}

/* Animations */

@keyframes iconAnimation {
  0% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  30% {
    transform: scale(1.6);
    opacity: 1;
  }

  60% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes pulse-skeleton {

  0%,
  100% {
    opacity: 0.6;
    transform: scale(1.1);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.4);
  }
}

/* Media Queries */
@media screen and (max-width: 1300px) {
  .menu-list {
    right: -250%;
  }

  .reel-menu-list {
    right: -120px
  }
}

@media screen and (max-width: 1200px) {
  .menu-list {
    right: -400%;
  }


  .reel-menu-list {
    right: -150px
  }
}

@media screen and (max-width: 1000px) {
  .menu-list {
    right: -200%;
  }


  .reel-menu-list {
    right: -120px
  }
}

@media screen and (max-width: 700px) {
  .menu-list {
    right: -100%;
  }
}

@media screen and (max-width: 600px) {
  .content-box {
    max-height: calc(85vh - 3.9rem);
  }

  .reels-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 2rem;
    padding: 0 1rem;
    width: 100%;
  }

  .reel-menu-div {
    display: none;
  }

  .reels-content-box {
    max-height: none;
    height: 100%;
    width: 100%;
  }

  .menu-list {
    right: -50%;
  }

  .content-menu {
    display: none;
  }

  .content-menu2 {
    display: inline;
  }

  .hide-profile-box {
    display: none;
  }

  .reel-content-menu {
    display: inline-block;
  }
}

@media screen and (max-width: 500px) {
  .content-box {
    position: relative;
  }

  .menu-container {
    display: none;
  }

  .content-description {
    margin-top: 3.5rem;
  }

  .small-menu-container {
    display: flex;
  }

  .menu-list {
    right: 0;
  }

  .reels-content {
    padding: 0;
  }

  .reels-menu-container {
    margin-left: 0;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    right: 0.5rem;
    height: 100%;
  }

  .menu-box {
    margin-bottom: 1rem;
  }

  .menu-icon-box {
    background: none;
    padding: 0;
  }

  .menu-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
    opacity: 1;
  }

  .menu-text {
    color: white;
    font-size: 0.85rem;
    font-family: appFont;
    text-shadow: 1px 1px 1px black;
  }

  .reel-content-menu {
    color: white;
  }

  .menu-icon-box:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 400px) {
  .content-head {
    padding: 1.1rem 1rem;
    padding-right: 0.5rem;
  }

  .content-description {
    padding: 0 1rem;
  }

  .small-menu-container {
    padding: 0 1.2rem;
  }

  .more-text {
    margin: 0.1rem 1rem 0;
  }
}

@media screen and (max-width: 350px) {
  .small-details-icon {
    width: 1.1rem;
    height: 1.1rem;
  }

  .small-details-box {
    column-gap: 0.2rem;
  }

  .menu-list {}
}