.section {
  width: 100%;
}

.section-head {
  margin: 0 0 1.5rem;
  padding: 0;
  font-family: appFont;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.category {
  margin: 1rem 0 2rem;
}

.category-head {
  font-family: appFontMedium;
  font-size: 1.1rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.push-category {
  display: flex;
  justify-content: space-between;
}

.email-details {
  display: flex;
  flex-direction: column;
}

.email-text {
  font-family: appFont;
  font-size: 0.95rem;
}

.interactions-container {
  padding: 0 0.5rem;
}

.interaction-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.interaction-name {
  font-family: appFontMedium;
}

.time-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.time-category-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.time-category-head {
  font-family: appFontMedium;
  font-size: 1.1rem;
}

.time-category-text {
  font-family: appFont;
  font-size: 0.95rem;
  margin-right: 2rem;
  width: calc(100% - 4rem);
}

.limit-select-box {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.limit-select-text {
  font-family: appFontMedium;
  white-space: nowrap;
}

.limit-select-div {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.limit-select {
  outline: none;
  border: 2px solid var(--app-theme-color);
  font-family: appFont;
  padding: 0.3rem 0.7rem;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
}

.custom-limit {
  margin-left: 1rem;
  font-family: appFontMedium;
}

.custom-limit-box {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.custom-hour-box,
.custom-min-box {
  display: flex;
  align-items: center;
}

.custom-min-box {
  margin-left: 1.5rem;
}

.custom-input {
  outline: none;
  border: 2px solid var(--app-theme-color);
  border-radius: 5px;
  font-family: appFont;
  font-size: 1rem;
  padding: 0.2rem;
  cursor: pointer;
}

.custom-input-value {
  font-family: appFontMedium;
  margin-left: 0.5rem;
}

.custom-limit-btn {
  outline: none;
  border: none;
  background: var(--app-theme-color);
  color: white;
  cursor: pointer;
  font-family: appFont;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-left: 2rem;
  font-size: 0.9rem;
}

.custom-limit-btn:hover {
  opacity: 0.8;
}

.disable-btn {
  opacity: 0.6;
  pointer-events: none;
}

.reminder-box {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.reminder-div {
  display: flex;
  align-items: center;
}

.time-box,
.time-box2 {
  display: flex;
  align-items: center;
}

.time-box-text {
  font-family: appFontMedium;
  white-space: nowrap;
}

.time-input {
  outline: none;
  border: 2px solid var(--app-theme-color);
  border-radius: 8px;
  padding: 0.3rem 0.5rem;
  font-family: appFont;
  font-size: 0.9rem;
  margin-left: 1rem;
  cursor: pointer;
}

.time-box2 {
  margin-left: 2rem;
}

.choose-days-box {
  margin-top: 1rem;
}

.choose-days-text {
  font-family: appFontMedium;
}

.days-box {
  margin-top: 0.7rem;
  display: grid;
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  grid-template-rows: 2rem;
  width: fit-content;
  column-gap: 1rem;
}

.choose-days {
  border: 2px solid var(--app-theme-color);
  font-family: monospace;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--app-theme-color);
  color: white;
}

.active-days {
  background: white;
  color: black;
}

.reminders-text {
  display: inline-block;
  margin-top: 1rem;
  font-family: appFont;
  font-size: 0.95rem;
  margin-right: 2rem;
}

.graph-div {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-top: 1.5rem;
}

.graph-head {
  font-family: appFontSemi;
  color: gray;
}

.graph {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-right: 2rem;
  padding: 0 1.5rem;
}

.graph-time-div {
  margin: 1rem 2rem 0;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graph-time-box {
  display: flex;
  align-items: center;
}

.graph-time-label {
  font-family: appFontMedium;
  font-size: 1.05rem;
  white-space: nowrap;
}

.graph-time {
  font-family: appFont;
  margin-left: 0.5rem;
  white-space: nowrap;
}

.graph-time-box2 {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.back-icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.6rem;
  display: none;
  cursor: pointer;
}

.back-icon:hover {
  color: var(--app-theme-color);
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .graph {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-right: 0;
    padding: 0 1rem;
  }

  .graph-time-div {
    margin: 1rem 0 0;
  }
}

@media screen and (max-width: 1100px) {
  .graph-time-div {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .graph-div {
    padding: 0 0.5rem;
  }

  .graph {
    padding: 0 0.5rem;
  }

  .graph-time-div {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1.5rem 0 0;
  }

  .graph-time-box {
    margin-bottom: 0.5rem;
  }

  .graph-time-box2 {
    margin-left: 0;
  }

  .custom-limit-box {
    margin-left: 0.5rem;
  }

  .custom-min-box {
    margin-left: 1rem;
  }

  .custom-limit-btn {
    margin-left: 1.5rem;
  }

  .time-box2 {
    margin-left: 1rem;
  }

  .time-input {
    margin-left: 0.5rem;
  }

  .days-box {
    grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
    column-gap: 0.9rem;
  }
}

@media screen and (max-width: 800px) {
  .graph {
    overflow: auto;
  }
}

@media screen and (max-width: 700px) {
  .section {
    padding-bottom: 2rem;
  }

  .section-head {
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
    padding: 2rem 1rem 0.5rem;
    margin: 0 0 1rem;
  }

  .category,
  .time-category {
    padding: 0 1.5rem;
  }

  .back-icon {
    display: inline;
  }
}

@media screen and (max-width: 600px) {
  .section-head {
    padding: 1.5rem 1rem 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .category,
  .time-category {
    padding: 0 1rem;
  }
}
