.content {
  border-top: 1px solid rgb(128, 128, 128, 0.4);
  width: 100%;
  margin-bottom: 2rem;
}

.reels-content {
  border-top: none;
  height: 100vh;
  padding: 2rem 0;
  scroll-snap-align: start;
  margin-bottom: 0;
}

.content-head {
  font-family: appFont;
  font-weight: 500;
  margin: 0;
  padding: 1.1rem 0;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.content-head-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.content-name-box {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 3.5rem);
}

.content-nickname {
  font-weight: 600;
}

.content-username {
  color: gray;
  margin-left: 0.5rem;
}

.dot {
  fill: gray;
  width: 1.2rem;
  height: 1.2rem;
}

.content-time {
  color: gray;
}

.menu-div {
  position: relative;
  display: inline;
}

.reel-menu-div {
  position: absolute;
  right: -1rem;
  top: 0;
  display: inline;
  font-family: appFont;
  font-size: 0.85rem;
}

.content-menu {
  color: gray;
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.active-menu {
  color: var(--app-theme-color);
}

.content-menu:hover {
  color: var(--app-theme-color);
}

.menu-list {
  position: absolute;
  top: 25px;
  left: -190%;
  z-index: 3;
  background: white;
  box-shadow: 1px 1px 10px -5px black;
  border-radius: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  height: 0;
  overflow: hidden;
}

.reel-menu-list {
  position: absolute;
  top: 1rem;
}

.menu-item {
  text-align: center;
  white-space: nowrap;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  color: var(--app-theme-color);
  font-weight: 600;
}

.menu-red {
  color: red !important;
}

.content-box {
  display: flex;
  max-height: 85vh;
  min-height: 380px;
}

.reels-content-box {
  max-height: none;
  height: 100%;
}

.carousel-container {
  width: 100%;
  position: relative;
}

.menu-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  user-select: none;
}

.profile-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.profile-img-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15rem;
  border-radius: 50%;
  background: linear-gradient(
    to bottom left,
    #dc143c,
    var(--app-theme-color) 60%
  );
}

.profile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.profile-icon-box {
  position: absolute;
  bottom: -10px;
  background: var(--app-theme-color);
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-icon {
  fill: white;
  width: 0.95rem;
  height: 0.9rem;
}

.profile-icon-box2 {
  position: absolute;
  bottom: -10px;
  background: white;
  padding: 0.35rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px -3px black;
}

.profile-icon2 {
  color: var(--app-theme-color);
  width: 0.8rem;
  height: 0.8rem;
}

.menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.menu-icon-box {
  background: rgb(128, 128, 128, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.7rem;
}

.menu-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: black;
  opacity: 0.85;
}

.like-icon {
  width: 2.625rem;
  height: 2.625rem;
}

.red-icon {
  fill: red;
}

.saved-icon {
  fill: var(--app-theme-color);
}

.menu-text {
  font-family: appFontBold;
  font-size: 0.85rem;
  margin-top: 0.2rem;
  opacity: 0.85;
}

.menu-icon-box:hover {
  box-shadow: 1px 1px 5px -3px black;
}

.content-description {
  margin-top: 1rem;
  font-family: appFont;
  font-size: 0.9rem;
  white-space: pre-line;
  word-wrap: break-word;
  max-height: 50px;
  overflow: hidden;
  position: relative;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.content-description2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.2rem; /* Height of the fade area */
  background: linear-gradient(to bottom, transparent, white);
}

.more-text {
  margin-top: 0.1rem;
  z-index: 2;
  font-family: appFontMedium;
  font-size: 0.9rem;
  color: gray;
  cursor: pointer;
  display: inline-block;
}

.show-more {
  display: block;
}
