.section {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 6;
  overflow: auto;
  display: grid;
  grid-template-columns: 55%;
  grid-template-rows: 90vh;
  justify-content: center;
  align-content: center;
  animation: showModal 0.5s ease-in-out 0s 1 normal both;
}

.container {
  background: white;
  border-radius: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem 1.5rem 0;
}

.head {
  font-family: appFont;
  font-size: 1.2rem;
  margin: auto;
}

.close-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.2rem;
}

.close-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.close-icon-box:hover {
  color: white;
  background: var(--app-theme-color);
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  margin-top: 1.5rem;
  width: calc(100% - 3rem);
  overflow-x: auto;
  min-height: fit-content;
}

.category-item {
  padding: 0.5rem 1.5rem;
  font-family: appFontMedium;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.category-value {
  margin-left: 0.7rem;
}

.category-item:hover {
  color: black;
}

.current-category {
  border-bottom: 2px solid black;
  color: black;
}

.search-box {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(90% - 3rem);
  background: rgba(128, 128, 128, 0.25);
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
}

.search-value {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  font-family: appFont;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.search-icon {
  fill: gray;
  width: 1.5rem;
  height: 1.5rem;
}

.clear-search {
  fill: gray;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.clear-search:hover {
  fill: var(--app-theme-color);
}

.users-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 100%);
  overflow: hidden;
  margin-top: 1rem;
  height: 100%;
}

.users-container {
  padding: 0 1rem 1rem;
  width: 100%;
  overflow: auto;
  height: 100%;
  padding-bottom: 1rem !important;
}

.user > a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.user > a:hover {
  background: rgba(128, 128, 128, 0.1);
}

.user-details {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
  width: calc(100%);
  overflow: hidden;
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.17rem;
  border-radius: 50%;
  background: white;
}

.img-box2 {
  background: rgba(43, 48, 54, 0.3);
}

.img-box3 {
  background: linear-gradient(
    to bottom left,
    #dc143c,
    var(--app-theme-color) 60%
  );
}

.user-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.name-box {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  overflow: hidden;
}

.user-name {
  font-family: appFontMedium;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
}

.user-handle {
  color: gray;
  font-family: appFontMedium;
  font-size: 0.9rem;
  margin-top: 0.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-div {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.engage-btn {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  font-family: appFontMedium;
  padding: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.engage-btn2 {
  margin-left: 0.5rem;
  background: rgba(128, 128, 128, 0.25);
  color: black;
}

.engage-btn:hover {
  opacity: 0.8;
}

.suggested-skeleton-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.7rem;
  margin-top: 1rem;
  padding: 0 0.5rem;
}

.suggested-skeleton-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  row-gap: 4px;
}

.no-data-text {
  margin: 3rem 0;
  color: gray;
  font-family: appFontMedium;
  text-align: center;
}

.error-btn {
  margin-top: 1rem;
}

.error-btn button {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.95rem;
}

.error-btn button:hover {
  opacity: 0.8;
}

.disable-btn {
  opacity: 0.5 !important;
}

.error-text {
  font-family: appFontMedium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
  row-gap: 1rem;
  margin: 3rem 0;
}

.error-button {
  outline: none;
  border: 2px solid var(--app-theme-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-family: appFontMedium;
  background: white;
  color: var(--app-theme-color);
  cursor: pointer;
}

.loader-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

/* Animations */

@keyframes showModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Media Queries */

@media screen and (max-width: 1300px) {
  .section {
    grid-template-columns: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .section {
    grid-template-columns: 65%;
  }
}

@media screen and (max-width: 1100px) {
  .section {
    grid-template-columns: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .section {
    grid-template-columns: 75%;
  }
}

@media screen and (max-width: 900px) {
  .section {
    grid-template-columns: 80%;
  }
}

@media screen and (max-width: 800px) {
  .section {
    grid-template-columns: 85%;
  }
}

@media screen and (max-width: 700px) {
  .section {
    grid-template-columns: 95%;
  }

  .users-container {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .section {
    grid-template-columns: 100%;
    grid-template-rows: 100vh;
  }

  .header {
    padding: 1.5rem 1rem 0;
  }

  .category-list,
  .search-box {
    width: calc(100% - 2rem);
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 1.5rem 0.5rem 0;
  }

  .category-list,
  .search-box {
    width: calc(100% - 1rem);
  }

  .users-container {
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 1.5rem 1rem 0;
  }
}
