.main {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.main-header {
  display: grid;
  grid-template-columns:
    minmax(200px, 20%) minmax(200px, 20%) minmax(200px, 20%)
    minmax(200px, 20%) minmax(200px, 20%);
  border-left: 1px solid rgba(128, 128, 128, 0.3);
  border-right: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
  overflow: auto;
  width: 100%;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  border-right: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px 5px 0 0;
  border-top: 3px solid transparent;
}

.category:first-child {
  border-bottom-left-radius: 5px;
}

.category:last-child {
  border-bottom-right-radius: 5px;
  border-right: none;
}

.category:hover {
  border-top: 3px solid rgba(128, 128, 128, 0.3);
}

.current-category {
  border-top: 3px solid var(--app-theme-color) !important;
}

.category-details {
  display: flex;
  flex-direction: column;
}

.category-name {
  font-family: appFontMedium;
  white-space: nowrap;
}

.category-value {
  font-family: appFontSemi;
  font-size: 1.3rem;
  margin-top: 0.3rem;
}

.category-percentage {
  color: gray;
  font-family: appFontMedium;
  margin-top: 0.3rem;
  font-size: 0.95rem;
}

.category-percentage2 {
  color: green;
}

.category-percentage3 {
  color: red;
}

.category-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: gray;
  margin-left: 1rem;
  flex-shrink: 0;
  opacity: 0.5;
}

.category-icon2 {
  fill: green;
  opacity: 1;
}

.category-icon3 {
  fill: red;
  transform: rotate(180deg);
  opacity: 1;
}

.category-range {
  color: gray;
  font-family: appFont;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.period-div {
  margin-top: 3rem;
}

.graph-box {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  padding: 0 1rem;
  overflow: auto;
}

.graph {
  width: 100%;
}

.no-data-text {
  margin: 5rem auto;
  color: gray;
  font-family: appFontMedium;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-btn {
  margin-top: 1rem;
}

.error-btn button {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.95rem;
}

.error-btn button:hover {
  opacity: 0.8;
}

/* Media Queries */

@media screen and (max-width: 800px) {
  .graph-box {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 700px) {
  .graph-box {
    padding: 0;
  }
}
