.section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.data-box {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin-bottom: 1.5rem;
}

.data-name,
.data-name2 {
  font-family: appFontMedium;
  font-size: 1.05rem;
}

.data-value {
  font-family: appFont;
  margin-left: 0.5rem;
}

.data-box2 {
  display: flex;
  align-items: flex-start;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.graph-box {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  padding: 0 1rem;
  overflow: auto;
}

.graph {
  width: 100%;
}

.no-data-text {
  margin: 5rem auto;
  color: gray;
  font-family: appFontMedium;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-btn {
  margin-top: 1rem;
}

.error-btn button {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.95rem;
}

.error-btn button:hover {
  opacity: 0.8;
}

/* Media Queries */

@media screen and (max-width: 800px) {
  .graph-box {
    padding: 0 0.5rem;
  }

  .data-box2 {
    flex-direction: column;
  }

  .data-name2 {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .graph-box {
    padding: 0;
  }
}
