.main {
  margin-left: 18%;
  display: grid;
  grid-template-columns: 68% 32%;
  overflow: hidden;
}

.main-container {
  padding: 0;
  width: 100%;
  border-right: 1px solid rgb(128, 128, 128, 0.3);
  height: 100vh;
  overflow: hidden;
}

.category-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100% 100%;
  column-gap: 0.1rem;
  align-items: start;
  transition: transform 0.25s ease;
}

.aside {
  padding: 1.5rem 0 2rem;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.friends-request-container {
  margin-top: 2rem;
}

.friends-request-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  column-gap: 1rem;
}

.friends-request-text {
  color: gray;
  font-family: appFontMedium;
  font-size: 1rem;
}

.request-type-select {
  background: white;
  color: var(--app-theme-color);
  outline: none;
  border: 2px solid var(--app-theme-color);
  padding: 0.2rem;
  font-family: appFontMedium;
  font-size: 0.95rem;
  border-radius: 5px;
  cursor: pointer;
}

.friend-requests {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding-right: 0.5rem;
}

.friend-request {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.friend-request a {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  transition: background 0.3s;
  text-decoration: none;
  color: black;
}

.friend-request-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.friend-request-img {
  width: 3.3rem;
  height: 3.3rem;
  object-fit: cover;
  border-radius: 50%;
}

.friend-request-icon-box {
  position: absolute;
  bottom: -8px;
  background: white;
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px -3px black;
}

.friend-request-icon {
  fill: var(--app-theme-color);
  width: 0.75rem;
  height: 0.8rem;
}

.friend-request-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: calc(100% - 4rem);
}

.friend-request-username {
  font-size: 0.9rem;
  font-family: appFontMedium;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.friend-btn-box {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.friend-accept-btn {
  background: var(--app-theme-color);
  color: white;
  border: none;
  outline: none;
  font-family: appFontMedium;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.friend-decline-btn {
  background: gray;
  color: white;
  border: none;
  outline: none;
  font-family: appFontMedium;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: opacity 0.3s;
  margin-left: 2rem;
}

.friend-decline-btn:hover,
.friend-accept-btn:hover {
  opacity: 0.8;
}

.friend-request:hover {
  background: rgba(168, 85, 247, 0.2);
}

.friends-request-all {
  color: var(--app-theme-color);
  font-family: appFontSemi;
  padding: 0 1.5rem;
  cursor: pointer;
}

.friends-request-all:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 4;
  background: white;
}

.request-details {
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  position: relative;
  cursor: pointer;
}

.friends-icon {
  width: 2rem;
  height: 2rem;
}

.request-details:hover .friends-icon {
  fill: var(--app-theme-color);
}

.request-length {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--app-theme-color);
  color: white;
  border-radius: 50%;
  font-family: appFontMedium;
  padding: 0.2rem;
  font-size: 0.8rem;
  position: absolute;
  top: -20%;
  right: -30%;
  aspect-ratio: 1;
}

.header-list {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 1.5rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-item {
  font-family: appFontMedium;
  padding: 0 1rem 1rem;
  font-size: 1.05rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  text-align: center;
  width: 50%;
}

.header-item:hover {
  color: var(--app-theme-color);
}

.active-item {
  color: var(--app-theme-color);
  border-bottom: 2px solid var(--app-theme-color);
}

.users-container {
  padding: 1.5rem 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: start;
  column-gap: 1rem;
  row-gap: 1.5rem;
  width: 100%;
  overflow: auto;
  height: calc(100vh - 4.32rem);
}

.suggestion-skeleton {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.suggestion-skeleton :first-child span {
  height: 12rem;
}

.suggestion-skeleton :nth-child(2) span {
  height: 2.5rem;
}

.user {
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  background: linear-gradient(
    to bottom right,
    rgba(220, 20, 60, 0.5) 0%,
    rgba(220, 20, 60, 0.5) 5%,
    rgba(168, 85, 247, 0.5) 20%,
    black 100%
  );
}

.user > a {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  align-items: center;
  border-radius: 5px;
}

.user-content {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 5px;
}

.user-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgb(0, 0, 0, 0.4);
  border-radius: 5px;
  transition: background 0.2s;
}

.user-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.17rem;
  border-radius: 50%;
  background: transparent;
}

.user-img-box2 {
  background: gray;
}

.user-img-box3 {
  background: linear-gradient(
    to bottom left,
    #dc143c,
    var(--app-theme-color) 60%
  );
}

.user-img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgb(0, 0, 0, 0.6);
}

.no-story-img {
  border-color: transparent !important;
}

.user-details:hover {
  background: rgb(0, 0, 0, 0.7);
}

.user-details:hover .user-img {
  border: 3px solid rgb(0, 0, 0, 0.7);
}

.user-name-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 0.5rem;
  width: calc(100% - 2rem);
}

.user-name {
  font-family: appFontMedium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.user-handle {
  text-align: center;
  font-family: appFont;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.user-follow-btn {
  background: var(--app-theme-color);
  color: white;
  border: none;
  outline: none;
  font-family: appFontMedium;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  transition: opacity 0.2s;
  margin: 1.5rem 0.5rem 0;
}

.user-follow-btn:hover {
  opacity: 0.9;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 6rem 2rem;
  overflow: auto;
  height: calc(100vh - 4.32rem);
  animation: slideLeft 0.2 ease 0s 0 normal both;
}

.hide-section {
  display: none;
}

.no-data-text {
  margin: 1rem 0.5rem;
  color: gray;
  font-family: appFontMedium;
}

.content-skeleton-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.top-content-skeleton {
  border-top: 1px solid rgb(128, 128, 128, 0.3);
  width: 100%;
  display: grid;
  grid-template-columns: 65% 5%;
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.bottom-content-skeleton {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 10%;
  grid-template-rows: auto;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.empty-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 3rem;
}

.request-skeleton-container {
  margin-bottom: 1rem;
}

.request-skeleton-box {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem 0.7rem;
  width: 100%;
}

.request-skeleton-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
  margin-left: 1rem;
  width: 70%;
}

.request-skeleton-details > div {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.error-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  font-family: appFontMedium;
  color: gray;
  margin: 4rem 1rem 1rem;
}

.empty-icon {
  fill: var(--app-theme-color);
  width: 2rem;
  height: 2rem;
}

.empty-icon2 {
  width: 2rem;
  height: 2rem;
  color: var(--app-theme-color);
}

.error-btn {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.error-btn:hover {
  opacity: 0.8;
}

.disable-link {
  pointer-events: none;
  opacity: 0.5 !important;
}

.friend-decline-btn2 {
  margin: 0;
}

.disable-btn {
  opacity: 0.5 !important;
  cursor: default;
}

/* Media Queries */

@media screen and (max-width: 1300px) {
  .content-container {
    padding: 1.5rem 5rem 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    grid-template-columns: 100%;
    margin-left: 22%;
  }

  .aside {
    display: none;
  }

  .request-details {
    display: flex;
  }

  .content-container {
    padding: 1.5rem 9rem 2rem;
  }
}

@media screen and (max-width: 1100px) {
  .content-container {
    padding: 1.5rem 7rem 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    margin-left: 25%;
  }

  .main-container {
    border-right: none;
  }

  .content-container {
    padding: 1.5rem 4rem 2rem;
  }

  .users-container {
    column-gap: 1rem;
  }

  .users-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .content-skeleton-div {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .main {
    margin-left: 81px;
  }

  .content-container {
    padding: 1.5rem 6rem 2rem;
  }

  .users-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5rem;
  }

  .content-skeleton-div {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .content-container {
    padding: 1.5rem 4rem 2rem;
  }

  .users-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .content-container {
    padding: 1.5rem 3rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin-left: 0;
  }

  .users-container {
    padding: 1.5rem 1rem 6rem;
  }

  .content-container {
    padding: 1.5rem 1.5rem 4rem;
  }

  .header {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .content-container {
    padding: 1.5rem 1rem 4rem;
  }

  .users-container {
    padding: 1.5rem 3rem 6rem;
  }

  .users-container {
    grid-template-columns: 1fr;
  }

  .bottom-content-skeleton {
    grid-template-columns: 100%;
  }

  .engagement-content-skeleton {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .content-container {
    padding: 1.5rem 0 4rem;
  }

  .users-container {
    padding: 1.5rem 1rem 6rem;
  }
}

@media screen and (min-width: 2000px) {
  .users-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 2500px) {
  .users-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 3000px) {
  .users-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
