.main {
  margin-left: 18%;
  display: grid;
  grid-template-columns: 68% 32%;
  overflow: hidden;
}

.main-container {
  padding: 1.5rem 2rem 5rem;
  width: 100%;
  border-right: 1px solid rgb(128, 128, 128, 0.3);
  height: 100vh;
  overflow: auto;
}

.main-container2 {
  padding: 0 2rem 5rem;
  width: 100%;
  border-right: 1px solid rgb(128, 128, 128, 0.3);
  height: 100vh;
  overflow: auto;
}

.scroll-div {
  display: flex;
  align-items: center;
}

.stories-container::-webkit-scrollbar {
  display: none;
}

.stories-container {
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.story-skeleton-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  cursor: pointer;
}

.story-skeleton {
  margin: 0 0.5rem;
}

.suggested-skeleton-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.7rem;
  margin-top: 1rem;
}

.suggested-skeleton-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  row-gap: 4px;
}

.no-data-text {
  margin: 1rem 0.5rem;
  color: gray;
  font-family: appFontMedium;
}

.more-users-text {
  color: var(--app-theme-color);
  font-family: appFontSemi;
  padding: 0 1.5rem;
  cursor: pointer;
}

.more-users-text:hover {
  text-decoration: underline;
}

.owner {
  position: sticky;
  left: 0;
  background: white;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.1rem;
}

.userStory {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  min-width: 5rem;
  max-width: 5rem;
  margin: 0 0.1rem;
  cursor: pointer;
}

.user > a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  min-width: 5rem;
  max-width: 5rem;
}

.user-pics-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.17rem;
  border-radius: 50%;
  background: linear-gradient(
    to bottom left,
    #dc143c,
    var(--app-theme-color) 60%
  );
}

.add-story {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom left,
    #dc143c,
    var(--app-theme-color) 60%
  );
  padding: 0.17rem;
  border-radius: 50%;
}

.add-story-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid transparent;
  background: white;
  width: 3.8rem;
  height: 3.8rem;
}

.add-story-icon {
  width: 3rem;
  height: 3rem;
  fill: var(--app-theme-color);
}

.user-pics {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.user-name {
  margin-top: 0.5rem;
  font-family: appFont;
  font-size: 0.83rem;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.owner-name {
  color: var(--app-theme-color);
  font-weight: 600;
}

.left-arrow-box {
  align-self: flex-start;
  z-index: 2;
  position: sticky;
  left: 10%;
  top: 3%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.05rem;
  box-shadow: 1px 1px 6px -2px black;
}

.right-arrow-box {
  z-index: 2;
  position: sticky;
  align-self: flex-start;
  right: 10%;
  top: 3%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.05rem;
  box-shadow: 1px 1px 6px -2px black;
}

.left-arrow,
.right-arrow {
  width: 1.5rem;
  height: 1.5rem;
}

.left-arrow-box:hover .left-arrow,
.right-arrow-box:hover .right-arrow {
  fill: var(--app-theme-color);
}

.hide-icon {
  visibility: hidden;
}

.content-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
}

.content-skeleton-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  z-index: -1;
}

.top-content-skeleton {
  border-top: 1px solid rgb(128, 128, 128, 0.3);
  width: 100%;
  display: grid;
  grid-template-columns: 65% 5%;
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.bottom-content-skeleton {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 10%;
  grid-template-rows: auto;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.engagement-content-skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  row-gap: 0.5rem;
}

.engagement-skeleton-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.2rem;
}

.aside {
  padding: 1.5rem 0 2rem;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.suggested-container {
  margin-top: 2rem;
}

.suggested-text {
  color: gray;
  font-family: appFontMedium;
  font-size: 0.9rem;
  padding: 0 1rem;
}

.suggested-users {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}

.suggested-user {
  margin-bottom: 1rem;
  border-radius: 5px;
}

.suggested-user > a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: background 0.3s;
  text-decoration: none;
  color: black;
}

.suggested-user-img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

.suggested-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.17rem;
  border-radius: 50%;
  background: white;
}

.suggested-img-box2 {
  background: rgba(43, 48, 54, 0.3);
}

.suggested-img-box3 {
  background: linear-gradient(
    to bottom left,
    #dc143c,
    var(--app-theme-color) 60%
  );
}

.suggested-user-names {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: calc(100% - 8rem);
}

.suggested-user-username {
  font-size: 0.9rem;
  font-family: appFontMedium;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.suggested-user-handle {
  font-family: appFont;
  font-size: 0.85rem;
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.follow-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
}

.follow-btn {
  background: var(--app-theme-color);
  color: white;
  border: none;
  outline: none;
  font-family: appFontMedium;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.follow-btn:hover {
  color: black;
}

.follow-txt {
  visibility: hidden;
}

.suggested-user:hover {
  background: rgba(168, 85, 247, 0.2);
}

.disable-btn {
  opacity: 0.5;
}

.error-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  font-family: appFontMedium;
  color: gray;
  margin: 4rem 1rem 1rem;
}

.empty-icon {
  fill: var(--app-theme-color);
  width: 2rem;
  height: 2rem;
}

.empty-icon2 {
  width: 2rem;
  height: 2rem;
  color: var(--app-theme-color);
}

.error-btn {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.error-btn:hover {
  opacity: 0.8;
}

.collab-skeleton {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  margin-bottom: 1.7rem;
}

.collab-skeleton-btn-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.pinned-reels-skeleton {
  width: 100%;
  height: 8rem;
}

.pinned-video-box {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1.5rem;
}

.pinned-video-link {
  width: 100%;
  height: 8rem;
  background: black;
  border-radius: 5px;
  position: relative;
}

.pinned-video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.pinned-video-details {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinned-video-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
}

.pinned-video-username {
  font-family: appFontMedium;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.profile-img-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15rem;
  border-radius: 50%;
  background: transparent;
}

.profile-img2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

.profile-img-span2 {
  background: gray;
}

.profile-img-span3 {
  background: linear-gradient(
    to bottom left,
    #dc143c,
    var(--app-theme-color) 60%
  );
}

.no-story-img {
  border-color: transparent !important;
}

.pinned-video-duration {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-family: monospace;
  font-size: 1rem;
  z-index: 5;
}

.friends-request-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  column-gap: 1rem;
}

.friends-request-text {
  color: gray;
  font-family: appFontMedium;
  font-size: 1rem;
}

.request-type-select {
  background: white;
  color: var(--app-theme-color);
  outline: none;
  border: 2px solid var(--app-theme-color);
  padding: 0.2rem;
  font-family: appFontMedium;
  font-size: 0.95rem;
  border-radius: 5px;
  cursor: pointer;
}

.friend-btn-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.friend-accept-btn {
  background: var(--app-theme-color);
  color: white;
  border: none;
  outline: none;
  font-family: appFontMedium;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.friend-decline-btn {
  background: gray;
  color: white;
  border: none;
  outline: none;
  font-family: appFontMedium;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  transition: opacity 0.3s;
  margin-left: 2rem;
}

.friend-decline-btn:hover,
.friend-accept-btn:hover {
  opacity: 0.8;
}

.friend-request:hover {
  background: rgba(168, 85, 247, 0.2);
}

.disable-link {
  pointer-events: none;
  opacity: 0.5 !important;
}

/* Media Queries */

@media screen and (max-width: 1300px) {
  .content-container {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    grid-template-columns: 100%;
    margin-left: 22%;
  }

  .aside {
    display: none;
  }

  .main-container {
    padding: 1.5rem 5rem 5rem;
    border-right: none;
  }

  .main-container2 {
    padding: 0 5rem 5rem;
    border-right: none;
  }

  .content-container {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1100px) {
  .main-container {
    padding: 1.5rem 4rem 5rem;
  }

  .main-container2 {
    padding: 0 4rem 5rem;
  }

  .content-container {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    margin-left: 25%;
  }

  .main-container {
    padding: 1.5rem 2rem 5rem;
  }

  .main-container2 {
    padding: 0 2rem 5rem;
  }

  .content-container {
    padding: 0 2rem;
  }

  .content-skeleton-div {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .main {
    margin-left: 81px;
  }

  .main-container {
    padding: 1.5rem 3rem 5rem;
  }

  .main-container2 {
    padding: 0 3rem 5rem;
  }

  .content-container {
    padding: 0 3rem;
  }

  .content-skeleton-div {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .main-container {
    padding: 1.5rem 2rem 5rem;
  }

  .main-container2 {
    padding: 0 2rem 5rem;
  }

  .content-container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 700px) {
  .main-container {
    padding: 1.5rem 0rem 5rem;
  }

  .main-container2 {
    padding: 0 0rem 5rem;
  }

  .content-container {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin-left: 0;
  }

  .main-container {
    padding: 0 0 8rem;
  }

  .main-container2 {
    padding: 0 0 8rem;
  }

  .stories-container {
    margin: 1rem 1.5rem 0;
  }

  .content-container {
    padding: 0 1.5rem;
  }

  .left-arrow-box,
  .right-arrow-box {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .stories-container {
    margin: 1rem 1rem 0;
  }

  .content-container {
    padding: 0 1rem;
  }

  .bottom-content-skeleton {
    grid-template-columns: 100%;
  }

  .engagement-content-skeleton {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .stories-container {
    margin: 1rem 0 0;
    padding: 0 1rem;
  }

  .content-container {
    padding: 0;
  }
}
