@font-face {
  font-family: appFont;
  src: url(../../assets/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: appFontMedium;
  src: url(../../assets/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: appFontBold;
  src: url(../../assets/fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: logoFont;
  src: url(../../assets/fonts/harrington/HARNGTON.TTF);
}

@font-face {
  font-family: appFontSemi;
  src: url(../../assets/fonts/poppins/Poppins-SemiBold.ttf);
}

:root {
  --dark-theme-background: #141420;
  --general-font-family: appFont, sans-serif;
  --app-theme-color: #a855f7;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

.app-user-tags,
.app-hashtags {
  color: #a855f7;
  font-family: appFontMedium;
  font-size: 0.95rem;
  text-decoration: none;
}

/* This class is applied to each toast */

div[data-icon],
div[data-title] {
  color: var(--app-theme-color) !important;
  font-size: 0.95rem;
}