@font-face {
  font-family: appFont;
  src: url(../../assets/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: appFontMedium;
  src: url(../../assets/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: appFontBold;
  src: url(../../assets/fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: logoFont;
  src: url(../../assets/fonts/harrington/HARNGTON.TTF);
}

:root {
  --dark-theme-background: #141420;
  --general-font-family: appFont, sans-serif;
  --app-theme-color: #a855f7;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}
