.section {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  display: none;
  grid-template-columns: 100%;
  justify-content: center;
  align-content: end;
}

.filter-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem;
  background: white;
  border-radius: 10px 10px 0 0;
  align-items: center;
  position: relative;
}

.filter-container::before {
  display: block;
  width: 100%;
  content: '.';
  position: absolute;
  top: 0;
  box-shadow: 2px 2px 10px -4px black;
  transform: rotate(180deg);
  z-index: -1;
}

.container-head {
  font-family: appFontMedium;
  font-size: 1.3rem;
  margin-right: auto;
}

.close-btn-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem 0 0.5rem;
}

.close-btn {
  border: none;
  outline: none;
  background: var(--app-theme-color);
  color: white;
  font-family: appFontMedium;
  border-radius: 5px;
  font-size: 0.85rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.sound-div {
  margin: 0;
  padding: 1rem;
  overflow: auto;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

.sound-box {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.sound-details {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.sound-details:hover,
.active-sound {
  color: var(--app-theme-color);
}

.sound-name {
  font-family: appFontMedium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.sound-duration {
  font-family: appFont;
  font-size: 0.95rem;
  margin-top: 0.1rem;
}

.sound-btn-div {
  display: flex;
  align-items: center;
  margin: 0;
}

.sound-btn {
  border: none;
  outline: none;
  background: var(--app-theme-color);
  cursor: pointer;
  color: white;
  font-family: appFont;
  font-size: 0.9rem;
  padding: 0.7rem;
  border-radius: 5px;
  transition: opacity 0.2s;
}

.remove-btn {
  border: none;
  outline: none;
  background: red;
  cursor: pointer;
  color: white;
  font-family: appFont;
  font-size: 0.9rem;
  padding: 0.7rem;
  border-radius: 5px;
  transition: opacity 0.2s;
  margin-left: 1rem;
}

.sound-btn:hover,
.remove-btn:hover {
  opacity: 0.9;
}

.hide-sound {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  .section {
    display: grid;
  }
}

@media screen and (max-width: 500px) {
  .sound-div {
    padding: 1rem 0.5rem;
  }
}
