.section {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  display: none;
  grid-template-columns: 100%;
  justify-content: center;
  align-content: end;
}

.filter-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem;
  background: white;
  border-radius: 10px 10px 0 0;
  align-items: center;
  position: relative;
}

.filter-container::before {
  display: block;
  width: 100%;
  content: '.';
  position: absolute;
  top: 0;
  box-shadow: 2px 2px 10px -4px black;
  transform: rotate(180deg);
  z-index: -1;
}

.container-head {
  font-family: appFontMedium;
  font-size: 1.3rem;
  margin-right: auto;
}

.close-btn-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 1.5rem 0 0.5rem;
}

.close-btn {
  border: none;
  outline: none;
  background: var(--app-theme-color);
  color: white;
  font-family: appFontMedium;
  border-radius: 5px;
  font-size: 0.85rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.adjustments-container {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  padding: 0 0.5rem;
  width: 100%;
  overflow-x: auto;
  min-height: 5rem
}

.adjustment-box {
  flex-shrink: 0;
  width: 6rem;
  height: 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.adjustment-text {
  font-family: appFont;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

.adjustment-icon {
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
  fill: white;
}

.adjustment-icon2 {
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
  fill: white;
  mix-blend-mode: hard-light;
  background: white;
  border-radius: 50%;
}

.current-adjustment-box {
  background: var(--app-theme-color);
}

.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0 1.5rem;
}

.adjustment-value {
  font-family: appFontMedium;
  font-size: 1rem;
  margin-left: 1rem;
  width: 2.25rem;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}

.input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background: var(--app-theme-color);
  border-radius: 50%;
  cursor: pointer;
}

.input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background: var(--app-theme-color);
  border-radius: 50%;
  cursor: pointer;
}

.input2::-webkit-slider-thumb {
  background: gray;
}

.reset-btn {
  color: var(--app-theme-color);
  font-family: appFontMedium;
  margin-right: 1.5rem;
  cursor: pointer;
  font-size: 1.03rem;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  .section {
    display: grid;
  }
}

@media screen and (max-width: 800px) {
  .input-box {
    width: 55%;
  }
}

@media screen and (max-width: 700px) {
  .input-box {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .input-box {
    width: 65%;
  }
}

@media screen and (max-width: 500px) {
  .input-box {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .input-box {
    width: 80%;
  }
}