.section {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    display: none;
    grid-template-columns: 100%;
    justify-content: center;
    align-content: end;
}

.filter-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 1rem;
    background: white;
    border-radius: 10px 10px 0 0;
    align-items: center;
    position: relative;
}

.filter-container::before {
    display: block;
    width: 100%;
    content: '.';
    position: absolute;
    top: 0;
    box-shadow: 2px 2px 10px -4px black;
    transform: rotate(180deg);
    z-index: -1;
}

.container-head {
    font-family: appFontMedium;
    font-size: 1.3rem;
    margin-right: auto;
}

.close-btn-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 1rem 0 0.5rem;
}

.close-btn {
    border: none;
    outline: none;
    background: var(--app-theme-color);
    color: white;
    font-family: appFontMedium;
    border-radius: 5px;
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

.sound-volume-container {
    padding: 1rem 0.5rem;
    width: 100%;
}

.sound-volume-box {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
}

.sound-volume-heading {
    font-family: appFontMedium;
    color: var(--app-theme-color);
}

.sound-volume-slider {
    display: flex;
    row-gap: 0.3rem;
    flex-direction: column;
    align-items: flex-end;
}

.sound-volume-slider input[type='range'] {
    accent-color: var(--app-theme-color);
    width: 100%;
}

.sound-volume-slider input[type='range']:not(:disabled) {
    cursor: pointer;
}

.sound-volume-slider span {
    font-family: appFont;
    font-weight: appFontMedium;
}


.add-sound-btn-div {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: center;
}

.add-sound-txt {
    font-family: appFont;
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    .section {
        display: grid;
    }
}