.main {
  margin-left: 18%;
  display: grid;
  grid-template-columns: 68% 32%;
  overflow: hidden;
}

.main-container {
  width: 100%;
  border-right: 1px solid rgb(128, 128, 128, 0.3);
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.aside {
  padding: 1.5rem 0 2rem;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.header {
  padding: 1rem;
  position: sticky;
  top: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.profile-view-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 1.5rem;
  display: none;
  cursor: pointer;
}

.profile-view-icon:hover {
  opacity: 0.8;
}

.select-box {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-family: appFontMedium;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 4rem);
}

.select-btn-box {
  display: flex;
  align-items: center;

}

.delete-btn {
  outline: none;
  border: none;
  font-family: appFontMedium;
  background: red;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.cancel-btn {
  outline: none;
  border: none;
  font-family: appFontMedium;
  background: var(--app-theme-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
  transition: opacity 0.2s;
}

.cancel-btn:hover,
.delete-btn:hover {
  opacity: 0.8;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 0.3rem;
  overflow: auto;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: appFontMedium;
  cursor: pointer;
  font-size: 0.9rem;
  white-space: nowrap;
  border-radius: 5px;
  padding: 0.6rem 1rem;
}

.hide-items {
  visibility: hidden;
}

.category-item:hover {
  color: var(--app-theme-color);
}

.current-category {
  color: var(--app-theme-color);
  background: white;
  box-shadow: 1px 1px 10px -6px black;
  animation: changeCategory 0.3s ease-in-out 0s 1 normal both;
}

.category-count {
  background: rgb(168, 85, 247, 0.15);
  border-radius: 5px;
  font-size: 0.9rem;
  font-family: monospace;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  margin-left: 0.5rem;
}

.notifications-container {
  padding: 0.5rem 1.5rem 2rem;
}

.notifications-div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.notifications-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notifications-date {
  font-family: appFontSemi;
  font-size: 1.05rem;
  flex-shrink: 0;
}

.notifications-icon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  flex-shrink: 0;
}

.notifications-icon:hover {
  fill: var(--app-theme-color);
}

.notifications {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.notification-box {
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.notification-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.2s;
}

.notification-img:hover {
  opacity: 0.8;
}

.notification-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--app-theme-color);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  aspect-ratio: 1;
}

.notification-logo {
  width: 2rem;
  height: 2rem;
  fill: var(--app-theme-color);
  color: var(--app-theme-color);
}

.notification-details {
  display: flex;
  flex-direction: column;
  font-family: appFont;
  margin-left: 1.5rem;
  width: 100%;
  overflow: hidden;
}

.notification-message {
  font-size: 0.9rem;
  word-wrap: break-word;
  width: 100%;
}

.notification-name {
  font-family: appFontMedium;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.notification-name:hover {
  color: var(--app-theme-color);
}

.notification-btn-box {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.notification-time {
  font-size: 0.9rem;
  color: gray;
  font-family: monospace;
  font-weight: bold;
  margin-top: 0.5rem;
}

.content-box {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

.notification-content {
  width: 6rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 5px;
  transition: opacity 0.2s;
}

.notification-content:hover {
  opacity: 0.8;
}

.notification-checkbox {
  width: 1.1rem;
  height: 1.1rem;
  accent-color: var(--app-theme-color);
  outline: none;
  cursor: pointer;
  margin-left: auto;
  flex-shrink: 0;
  visibility: hidden;
}

.notification-btn {
  outline: none;
  border: none;
  background: rgb(168, 85, 247, 0.3);
  font-family: appFontMedium;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  cursor: pointer;
}

.notification-btn-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
}

.notification-btn:first-child {
  margin-right: 1rem;
}

.notification-box:hover {
  background: rgba(128, 128, 128, 0.15);
}

.notification-box:hover .notification-checkbox {
  visibility: visible;
}

.notification-comment {
  font-family: appFontMedium;
}

.like-icon {
  fill: red;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  animation: like 0.2s ease-in-out 0s 1 normal both;
}

.show-checkbox {
  visibility: visible;
}

.group-checkbox {
  width: 1.1rem;
  height: 1.1rem;
  accent-color: var(--app-theme-color);
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
}

.profile-views-container {
  margin-top: 2rem;
}

.profile-views-text {
  color: gray;
  font-family: appFontMedium;
  font-size: 1rem;
  padding: 0 1rem;
}

.profile-viewers-div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}

.profile-viewer {
  border-radius: 5px;
  transition: background 0.3s;
  margin-bottom: 1rem;
}

.profile-viewer a {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.profile-viewer-img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile-viewer-names {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: calc(100% - 9rem);
}

.profile-viewer-username {
  font-size: 0.9rem;
  font-family: appFontMedium;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-viewer-handle {
  font-family: appFont;
  font-size: 0.85rem;
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.follow-btn {
  background: var(--app-theme-color);
  color: white;
  border: none;
  outline: none;
  font-family: appFontMedium;
  font-size: 0.8rem;
  border-radius: 5px;
  margin-left: auto;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.follow-btn:hover {
  color: black;
}

.profile-viewer:hover {
  background: rgba(168, 85, 247, 0.2);
}

.views-text {
  display: block;
  font-family: appFontMedium;
  font-size: 0.9rem;
  color: gray;
  margin: 1.5rem 1.5rem 0;
}

.following-text {
  margin-left: auto;
  color: gray;
  font-family: appFontMedium;
  font-size: 0.9rem;
}

.hide-scroll {
  overflow: hidden;
}

.suggested-skeleton-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.7rem;
  margin-top: 1rem;
}

.suggested-skeleton-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  row-gap: 4px;
}

.no-data-text {
  margin: 1rem 0.5rem;
  color: gray;
  font-family: appFontMedium;
}

.more-users-text {
  color: var(--app-theme-color);
  font-family: appFontSemi;
  padding: 0 1.5rem;
  cursor: pointer;
}

.more-users-text:hover {
  text-decoration: underline;
}

.disable-item {
  pointer-events: none;
  opacity: 0.5 !important;
}

.skeleton-container {
  display: flex;
  flex-direction: column;
}

.skeleton-container .skeleton-box {
  display: flex;
  column-gap: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.skeleton-container .skeleton-box .skeleton-user {
  width: 3.5rem;
  height: 3.5rem;
}


.skeleton-container .skeleton-box>span:nth-child(2) {
  width: 100%;
}


.error-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  font-family: appFontMedium;
  color: gray;
  margin: 4rem 1rem 1rem;
}

.empty-icon {
  fill: var(--app-theme-color);
  width: 2rem;
  height: 2rem;
}

.empty-icon2 {
  width: 2rem;
  height: 2rem;
  color: var(--app-theme-color);
}

.error-btn {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.error-btn:hover {
  opacity: 0.8;
}

.requests-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1.5rem;
}

.request-box {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 1.5rem;
  background: white;
  box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  padding: 0.7rem;
}

.request-text {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.request-message {
  font-family: appFontMedium;
}

.request-btn-box .request-btn {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  color: white;
  background: var(--app-theme-color);
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.25s;
}

.request-btn-box .request-btn:hover {
  opacity: 0.8;
}

.requests-length {
  color: var(--app-theme-color);
  font-family: appFontSemi;
}

.bold-text {
  font-family: appFontMedium;
}

.disable-btn {
  opacity: 0.3;
  pointer-events: none;
}

.loader-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem 0;
}


/* Animations */

@keyframes changeCategory {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes like {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .main {
    grid-template-columns: 100%;
    margin-left: 22%;
  }

  .aside {
    display: none;
  }

  .header {
    padding: 1rem 2rem;
  }

  .notifications-container {
    padding: 0.5rem 2.5rem 2rem;
  }

  .select-box {
    top: 1.5rem;
    left: 3rem;
    width: calc(100% - 9.5rem);
  }

  .profile-view-icon {
    display: inline;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    margin-left: 25%;
  }

  .header {
    padding: 1rem 1.5rem;
  }

  .notifications-container {
    padding: 0.5rem 1.5rem 2rem;
  }

  .select-box {
    top: 1.5rem;
    left: 2.5rem;
    width: calc(100% - 8.5rem);
  }
}

@media screen and (max-width: 900px) {
  .main {
    margin-left: 81px;
  }

  .header {
    padding: 1rem 2rem;
  }

  .notifications-container {
    padding: 0.5rem 2rem 2rem;
  }

  .select-box {
    top: 1.5rem;
    left: 3rem;
    width: calc(100% - 9.5rem);
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 1rem 1.5rem;
  }

  .notifications-container {
    padding: 0.5rem 1.5rem 2rem;
  }

  .select-box {
    top: 1.5rem;
    left: 2.5rem;
    width: calc(100% - 8rem);
  }

  .profile-view-icon {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding: 1rem;
  }

  .notifications-container {
    padding: 0.5rem 1rem 2rem;
  }

  .select-box {
    top: 1.5rem;
    left: 2rem;
    width: calc(100% - 7rem);
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin-left: 0;
  }

  .main-container {
    padding-bottom: 4rem;
  }

  .notification-details {
    margin-left: 1rem;
  }

  .notification-img,
  .skeleton-container .skeleton-box .skeleton-user {
    width: 3.2rem;
    height: 3.2rem;
  }


  .notification-logo-box {
    width: 3.2rem;
    height: 3.2rem;
  }

  .notification-logo {
    width: 2rem;
    height: 2rem;
  }

  .notification-content {
    width: 5rem;
    height: 3rem;
  }

  .content-box {
    margin: 0 0.5rem;
  }

  .header {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 1rem;
  }

  .notification-img,
  .skeleton-container .skeleton-box .skeleton-user {
    width: 3rem;
    height: 3rem;
  }

  .notification-logo-box {
    width: 3rem;
    height: 3rem;
  }

  .notification-logo {
    width: 1.8rem;
    height: 1.8rem;
  }

  .notification-content {
    width: 4rem;
    height: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 1rem 0.5rem;
  }

  .notifications-container {
    padding: 0.5rem 0.5rem 2rem;
  }

  .notification-img,
  .skeleton-container .skeleton-box .skeleton-user {
    width: 2.7rem;
    height: 2.7rem;
  }


  .notification-logo-box {
    width: 2.7rem;
    height: 2.7rem;
  }

  .notification-logo {
    width: 1.5rem;
    height: 1.5rem;
  }


  .notification-content {
    width: 3.5rem;
    height: 3rem;
  }

  .select-box {
    top: 1.5rem;
    left: 1rem;
    width: calc(100% - 2rem);
  }
}