.section {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  min-height: 100vh;
  z-index: 6;
  display: grid;
  grid-template-columns: 40%;
  justify-content: center;
  align-content: center;
  overflow: auto;
  animation: showModal 0.5s ease-in-out 0s 1 normal both;
}

.container {
  background: white;
  max-height: 100vh;
  border-radius: 8px;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding: 1rem;
  position: sticky;
  top: 0;
  background: white;
  width: 100%;
  z-index: 3;
}

.head {
  font-family: appFontMedium;
  font-size: 1.2rem;
  margin: auto;
}

.close-icon-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.2rem;
  transition: background 0.3s;
}

.close-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.close-icon-box:hover {
  background: var(--app-theme-color);
  color: white;
}

.pinned-videos-div {
  padding: 1rem 1.5rem 0.5rem;
  margin-top: 1.5rem;
}

.pinned-video-box {
  width: 100%;
  height: 8rem;
  background: black;
  border-radius: 5px;
  position: relative;
  margin-bottom: 1.5rem;
}

.pinned-video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.pinned-video-details {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinned-video-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
}

.pinned-video-username {
  font-family: appFontMedium;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.profile-img-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15rem;
  border-radius: 50%;
  background: transparent;
}

.profile-img2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

.profile-img-span2 {
  background: gray;
}

.profile-img-span3 {
  background: linear-gradient(
    to bottom left,
    #dc143c,
    var(--app-theme-color) 60%
  );
}

.no-story-img {
  border-color: transparent !important;
}
.unpin-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 1.2rem;
  height: 1.2rem;
}

.pinned-video-duration {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-family: monospace;
  font-size: 1rem;
  z-index: 5;
}

.pinned-reels-skeleton {
  width: 100%;
  height: 8rem;
  margin-bottom: 1.5rem;
}

.error-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  font-family: appFontMedium;
  color: gray;
  margin: 5rem 0;
}

.error-btn {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
}

.error-btn:hover {
  opacity: 0.8;
}

/* Animations */

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .section {
    grid-template-columns: 40%;
  }
}

@media screen and (max-width: 1100px) {
  .section {
    grid-template-columns: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .section {
    grid-template-columns: 40%;
  }
}

@media screen and (max-width: 900px) {
  .section {
    grid-template-columns: 45%;
  }
}

@media screen and (max-width: 800px) {
  .section {
    grid-template-columns: 50%;
  }
}

@media screen and (max-width: 700px) {
  .section {
    grid-template-columns: 60%;
  }
}

@media screen and (max-width: 600px) {
  .section {
    grid-template-columns: 70%;
  }

  .container {
    height: 100vh;
  }
}

@media screen and (max-width: 500px) {
  .section {
    grid-template-columns: 85%;
  }
}

@media screen and (max-width: 400px) {
  .section {
    grid-template-columns: 100%;
  }
}
