.main {
  margin-left: 18%;
  display: grid;
  grid-template-columns: 100%;
  overflow: auto;
  height: 100vh;
}

.main2 {
  height: 100vh !important;
}

.top-section {
  display: grid;
  grid-template-columns: calc(40% - 1rem) calc(60% - 1rem);
  column-gap: 2rem;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 3rem;
}

.img-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  z-index: -1;
}

.img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-name {
  margin-top: 0.5rem;
  font-family: appFontSemi;
  max-width: 100%;
  word-wrap: break-word;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  margin: 0;
}

.user-handle,
.user-handle2 {
  font-family: appFontMedium;
  font-size: 1.2rem;
}

.mobile-header {
  width: 100%;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background: white;
  display: none;
  padding: 0.5rem 0 0.7rem;
  column-gap: 1rem;
}

.user-handle2 {
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
  cursor: pointer;
}

.user-handle3 {
  cursor: default;
}

.down-arrow {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.3rem;
  vertical-align: middle;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.7rem;
}

.edit-btn {
  outline: none;
  border: none;
  background: grey;
  color: white;
  border-radius: 6px;
  font-family: appFont;
  font-size: 0.95rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.share-btn {
  outline: none;
  border: none;
  background: var(--app-theme-color);
  color: white;
  border-radius: 6px;
  font-family: appFont;
  font-size: 0.95rem;
  padding: 0.5rem 0.8rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.share-icon-btn {
  outline: none;
  border: none;
  background: white;
  border: 2px solid var(--app-theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--app-theme-color);
  border-radius: 6px;
  font-family: appFont;
  font-size: 0.95rem;
  padding: 0.5rem 0.8rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.edit-btn:hover,
.share-btn:hover,
.share-icon-btn:hover {
  opacity: 0.8;
}

.profile-data {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  row-gap: 0.3rem;
}

.data-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.data-box2 {
  cursor: pointer;
}

.data-box2:hover {
  text-decoration: underline;
}

.data-value {
  font-family: appFontSemi;
}

.data-field {
  font-family: appFont;
  margin-left: 0.4rem;
}

.description {
  font-family: appFont;
  margin-top: 1rem;
  width: 100%;
  word-wrap: break-word;
  font-size: 0.92rem;
}

.description-skeleton {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  z-index: -1;
}

.links {
  margin-top: 0.5rem;
  width: 100%;
}

.link-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
}

.link-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: appFontSemi;
  color: var(--app-theme-color);
  column-gap: 0.1rem;
}

.link-icon {
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: middle;
  flex-shrink: 0;
}

.link {
  flex-shrink: 0;
  display: inline-block;
  color: var(--app-theme-color);
  font-family: appFont;
  font-size: 0.9rem;
  cursor: pointer;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 1.8rem);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.bottom-section {
  width: 100%;
  padding-bottom: 2rem;
  min-height: 60vh;
}

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
  position: sticky;
  top: -1rem;
  z-index: 3;
  background: white;
  padding: 1rem 3rem 0;
}

.category-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.category-list2 {
  width: 100%;
  column-gap: 5rem;
  justify-content: center;
}

.category-item {
  font-family: appFontMedium;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.05rem;
  color: gray;
  border-bottom: 2px solid transparent;
}

.category-icon {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.5rem;
}

.category-item2 {
  padding: 1rem 2rem !important;
}

.path {
  fill: gray;
}

.current-category {
  color: black;
  border-bottom: 2px solid black;
}

.current-path {
  fill: black;
}

.category-item:hover {
  color: black;
}

.category-item:hover .path {
  fill: black;
}

.sort-div {
  display: flex;
  align-items: center;
}

.sort-div3 {
  white-space: nowrap;
}

.sort-div-txt {
  font-family: appFontMedium;
}

.sort-select {
  outline: none;
  border: 2px solid var(--app-theme-color);
  font-family: appFont;
  padding: 0.3rem;
  border-radius: 5px;
  margin-left: 1rem;
  cursor: pointer;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(5, 100%);
  overflow: hidden;
  position: relative;
  padding-bottom: 2rem;
}

.contents-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: center;
  margin-top: 1rem;
  padding: 0 1rem;
  column-gap: 1.5%;
  row-gap: 0.5rem;
  position: absolute;
  width: 100%;
}

.show-container {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: fit-content;
  position: relative;
}

.media {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  aspect-ratio: 0.97;
}

.reel-icon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 2%;
  top: 2.5%;
}

.content-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  color: white;
  bottom: 2%;
  padding: 0 0.5rem;
}

.content-data {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  font-family: appFontSemi;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.3rem;
}

.views-icon {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.3rem;
}

.engagement-div {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: none;
  align-content: center;
  justify-content: center;
  grid-template-columns: auto;
  z-index: 2;
}

.engagement-box {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
  font-family: appFontMedium;
  font-size: 0.95rem;
}

.engagement-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.engagement-box:last-child {
  margin-bottom: 0;
}

.content:hover .engagement-div {
  display: grid;
}

.edit-section {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  min-height: 100vh;
  z-index: 6;
  overflow: auto;
  display: grid;
  grid-template-columns: 40%;
  justify-content: center;
  align-content: center;
  animation: showModal 0.5s ease-in-out 0s 1 normal both;
}

.edit-container {
  background: white;
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 100vh;
}

.edit-head {
  font-family: appFontMedium;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  user-select: none;
}

.close-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.2rem;
}

.close-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.close-icon-box:hover {
  color: white;
  background: var(--app-theme-color);
}

.qrcode-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 2rem 2rem;
}

.link-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(128, 128, 128, 0.3);
  width: 80%;
  padding: 0.5rem;
  border-radius: 5px;
}

.link-value {
  border: none;
  outline: none;
  background: none;
  font-family: appFontMedium;
  font-size: 0.95rem;
  border-right: 2px solid var(--app-theme-color);
  width: 100%;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
}

.copy-icon {
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--app-theme-color);
  cursor: pointer;
}

.copy-icon:active {
  fill: black;
}

.options-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.options-container {
  display: flex;
  align-items: flex-start;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  padding: 1.2rem 0 2rem;
  position: relative;
  width: 100%;
  margin-top: 1.5rem;
}

.options-div {
  display: flex;
  align-items: center;
}

.share-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.last-option {
  margin-right: 0;
}

.option-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.share-icon-text {
  margin-top: 0.5rem;
  font-family: appFont;
  font-size: 0.8rem;
  white-space: nowrap;
}

.left-arrow-box {
  z-index: 2;
  position: sticky;
  left: 1%;
  align-self: flex-start;
  top: 20%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--app-theme-color);
  border-radius: 50%;
  cursor: pointer;
  padding: 0.05rem;
  box-shadow: 1px 1px 6px -2px black;
  color: white;
}

.right-arrow-box {
  z-index: 2;
  position: sticky;
  right: 1%;
  align-self: flex-start;
  top: 20%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--app-theme-color);
  border-radius: 50%;
  cursor: pointer;
  padding: 0.05rem;
  box-shadow: 1px 1px 6px -2px black;
  color: white;
}

.left-arrow,
.right-arrow {
  width: 1.5rem;
  height: 1.5rem;
}

.left-arrow-box:hover .left-arrow,
.right-arrow-box:hover .right-arrow {
  color: black;
}

.hide-icon {
  visibility: hidden;
}

.menu-icon {
  width: 1.8rem;
  height: 1.8rem;
  display: none;
  flex-shrink: 0;
  cursor: pointer;
}

.sort-container {
  display: none;
  position: fixed;
  right: 4%;
  bottom: 3%;
  z-index: 3;
}

.sort-icon-box {
  background: var(--app-theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  color: white;
  cursor: pointer;
}

.sort-icon {
  width: 1.7rem;
  height: 1.7rem;
}

.sort-select2 {
  outline: none;
  border: 2px solid var(--app-theme-color);
  font-family: appFont;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
}

.sort-div2 {
  position: absolute;
  top: -60%;
  right: 0;
}

.sort-div4 {
  top: -20%;
}

.sort-container:hover .sort-div2 {
  display: block;
}

.menu-section {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  min-height: 100vh;
  z-index: 6;
  overflow: auto;
  display: none;
  grid-template-columns: 80%;
  justify-content: center;
  align-content: end;
}

.menu-list {
  border-radius: 10px 10px 0 0;
  background: white;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  font-family: appFontMedium;
}

.menu-item {
  font-size: 1.02rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  color: var(--app-theme-color);
  font-weight: 600;
}

.menu-item-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.no-data-text {
  margin: 3rem 0;
  color: gray;
  font-family: appFontMedium;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / -1;
}

.user-error-box {
  margin-top: 1rem;
  color: gray;
  font-family: appFontMedium;
  display: flex;
  flex-direction: column;
}

.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  grid-column: 1 / -1;
}

.error-btn {
  margin-top: 1rem;
}

.error-btn button {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.95rem;
}

.error-btn button:hover {
  opacity: 0.8;
}

.back-icon {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
  display: none;
}

.share-icon {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  display: none;
}

.back-icon:hover,
.share-icon:hover {
  color: var(--app-theme-color);
}

.loading-btn {
  opacity: 0.5 !important;
  pointer-events: none;
}

.disable-sort {
  opacity: 0.4 !important;
  pointer-events: none;
}

.no-user-box {
  margin: 10rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.no-user-icon {
  width: 7rem;
  height: 7rem;
  color: gray;
  stroke-width: 1px;
}

.no-user-text {
  color: gray;
  font-size: 1.2rem;
  font-family: appFontMedium;
}

/* Animations */

@keyframes showModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Media Queries */

@media screen and (max-width: 1300px) {
  .edit-section {
    grid-template-columns: 45%;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    margin-left: 22%;
  }

  .top-section {
    padding: 1rem 2rem;
  }

  .sort-div {
    display: none;
  }

  .bottom-header {
    justify-content: center;
    padding: 1rem 2rem 0;
  }

  .category-list {
    width: 100%;
    justify-content: space-between;
  }

  .category-list2 {
    justify-content: center;
  }

  .edit-section {
    grid-template-columns: 49%;
  }

  .sort-container {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .edit-section {
    grid-template-columns: 54%;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    margin-left: 25%;
  }

  .category-item {
    padding: 1rem;
  }

  .contents-container {
    padding: 0;
  }

  .top-section {
    grid-template-columns: calc(40% - 0.5rem) calc(60% - 0.5rem);
    column-gap: 1rem;
  }

  .edit-section {
    grid-template-columns: 59%;
  }
}

@media screen and (max-width: 900px) {
  .main {
    margin-left: 81px;
  }

  .contents-container {
    padding: 0 0.5rem;
  }

  .img {
    width: 10rem;
    height: 10rem;
  }

  .edit-section {
    grid-template-columns: 65%;
  }
}

@media screen and (max-width: 800px) {
  .contents-container {
    padding: 0;
  }

  .top-section {
    padding: 1rem;
  }

  .bottom-header {
    padding: 1rem 1rem 0;
  }

  .edit-section {
    grid-template-columns: 75%;
  }

  .sort-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media screen and (max-width: 700px) {
  .category-item {
    padding: 0.5rem 0;
  }

  .top-section {
    grid-template-columns: 100%;
    justify-content: center;
    column-gap: 0;
    padding: 0 1rem;
  }

  .bottom-header {
    padding: 1rem 1rem 0;
  }

  .user-handle {
    display: none;
  }

  .profile-details,
  .img-box {
    padding: 0 1rem;
  }

  .img-box {
    margin-top: 0.5rem;
  }

  .profile-data {
    width: 100%;
    justify-content: space-between;
    margin-top: 0.7rem;
  }

  .data-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0;
  }

  .description {
    text-align: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    text-align: center;
  }

  .img {
    width: 8rem;
    height: 8rem;
  }

  .btn-div {
    width: 100%;
    order: 1;
    margin-top: 1rem;
  }

  .mobile-header {
    display: flex;
  }

  .content-details {
    justify-content: flex-end;
    padding: 0 0.3rem;
  }

  .content-data:nth-child(1) {
    display: none;
  }

  .content-data {
    font-size: 0.85rem;
  }

  .views-icon {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.25rem;
  }

  .edit-section {
    grid-template-columns: 85%;
  }

  .description-skeleton {
    justify-content: center;
  }

  .user-error-box {
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin-left: 0;
    height: calc(100vh - 3.4rem);
  }

  .bottom-header {
    padding: 1rem 0 0;
  }

  .img {
    width: 6rem;
    height: 6rem;
  }

  .menu-icon {
    display: inline;
  }

  .mobile-header {
    padding: 0.5rem 0 0.7rem;
  }

  .profile-details,
  .img-box {
    padding: 0 2rem;
  }

  .category-text,
  .share-icon-btn,
  .loading-share-btn {
    display: none;
  }

  .category-item {
    justify-content: center;
    width: 100%;
  }

  .category-icon {
    margin-right: 0;
  }

  .edit-section {
    grid-template-columns: 95%;
  }

  .edit-container {
    height: 100vh;
    justify-content: space-between;
  }

  .link-box {
    width: 90%;
  }

  .sort-container {
    bottom: calc(5% + 4rem);
  }

  .sort-container2 {
    bottom: 4%;
  }

  .menu-section {
    display: grid;
  }

  .sort-icon-box {
    padding: 0.8rem;
  }

  .sort-icon {
    width: 1.2rem;
    height: 1.2rem;
  }

  .back-icon,
  .share-icon {
    display: block;
  }

  .category-list2 {
    column-gap: 0;
  }

  .user-error-box {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .profile-details,
  .img-box {
    padding: 0 1rem;
  }

  .data-field {
    font-size: 0.95rem;
  }

  .img {
    width: 5rem;
    height: 5rem;
  }

  .contents-container {
    grid-template-columns: calc(33.33% - 0.133rem) calc(33.33% - 0.133rem) calc(
        33.33% - 0.133rem
      );
    column-gap: 0.2rem;
    padding: 0 0.1rem;
  }

  .edit-section {
    grid-template-columns: 100%;
  }

  .edit-container {
    border-radius: 0;
  }

  .link-box {
    width: 100%;
  }

  .menu-section {
    grid-template-columns: 90%;
  }

  .no-user-box {
    margin: 10rem 1rem 5rem;
  }

  .no-user-icon {
    width: 5rem;
    height: 5rem;
  }

  .no-user-text {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 400px) {
  .profile-details,
  .img-box {
    padding: 0 0.5rem;
  }

  .description,
  .links {
    padding: 0 1rem;
  }

  .data-field {
    font-size: 0.9rem;
  }

  .menu-section {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 350px) {
  .profile-details,
  .img-box {
    padding: 0;
  }
}

@media screen and (min-width: 1400px) {
  .contents-container {
    grid-template-columns: repeat(4, 23.5%);
  }
}

@media screen and (min-width: 2000px) {
  .contents-container {
    grid-template-columns: repeat(5, 18.5%);
  }
}

@media screen and (min-width: 2500px) {
  .contents-container {
    grid-template-columns: repeat(6, 15.25%);
  }
}

@media screen and (min-width: 3000px) {
  .contents-container {
    grid-template-columns: repeat(7, 12.85%);
  }
}

@media screen and (min-width: 3500px) {
  .contents-container {
    grid-template-columns: repeat(8, 11.1%);
  }
}
