.section {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  min-height: 100vh;
  z-index: 6;
  display: grid;
  grid-template-columns: 45%;
  justify-content: center;
  align-content: center;
  overflow: auto;
  animation: showModal 0.5s ease-in-out 0s 1 normal both;
}

.container {
  background: white;
  max-height: 100vh;
  min-height: 90vh;
  border-radius: 8px;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding: 1rem;
  position: sticky;
  top: 0;
  background: white;
  width: 100%;
  z-index: 2;
}

.head {
  font-family: appFontMedium;
  font-size: 1.2rem;
  margin: auto;
}

.close-icon-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.2rem;
  transition: background 0.3s;
}

.close-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.close-icon-box:hover {
  background: var(--app-theme-color);
  color: white;
}

.profile-views-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding-bottom: 1rem;
}

.profile-viewer {
  border-radius: 5px;
  transition: background 0.3s;
  margin-bottom: 1rem;
}

.profile-viewer a {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.profile-viewer-img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile-viewer-names {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: calc(100% - 9rem);
}

.profile-viewer-username {
  font-size: 0.9rem;
  font-family: appFontMedium;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-viewer-handle {
  font-family: appFont;
  font-size: 0.85rem;
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.follow-btn {
  background: var(--app-theme-color);
  color: white;
  border: none;
  outline: none;
  font-family: appFontMedium;
  font-size: 0.8rem;
  border-radius: 5px;
  margin-left: auto;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.follow-btn:hover {
  color: black;
}

.profile-viewer:hover {
  background: rgba(168, 85, 247, 0.2);
}

.views-text {
  display: block;
  font-family: appFontMedium;
  font-size: 0.9rem;
  color: gray;
  margin: 0 1.5rem 2rem;
}

.following-text {
  margin-left: auto;
  color: gray;
  font-family: appFontMedium;
  font-size: 0.9rem;
}

.suggested-skeleton-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.7rem;
  margin-top: 1rem;
}

.suggested-skeleton-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  row-gap: 4px;
}

.no-data-text {
  margin: 1rem 0.5rem;
  color: gray;
  font-family: appFontMedium;
}

.more-users-text {
  color: var(--app-theme-color);
  font-family: appFontSemi;
  padding: 0 1.5rem;
  cursor: pointer;
}

.more-users-text:hover {
  text-decoration: underline;
}

.disable-item {
  pointer-events: none;
  opacity: 0.5 !important;
}

.animation-box {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .section {
    grid-template-columns: 48%;
  }
}

@media screen and (max-width: 1100px) {
  .section {
    grid-template-columns: 52%;
  }
}

@media screen and (max-width: 1000px) {
  .section {
    grid-template-columns: 55%;
  }
}

@media screen and (max-width: 900px) {
  .section {
    grid-template-columns: 60%;
  }
}

@media screen and (max-width: 800px) {
  .section {
    grid-template-columns: 65%;
  }
}

@media screen and (max-width: 700px) {
  .section {
    grid-template-columns: 73%;
  }
}

@media screen and (max-width: 600px) {
  .section {
    grid-template-columns: 82%;
  }

  .container {
    height: 100vh;
  }

  .profile-views-container {
    padding: 0 0.5rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .section {
    grid-template-columns: 92%;
  }
}

@media screen and (max-width: 400px) {
  .section {
    grid-template-columns: 100%;
  }
}
