.main {
  margin-left: 18%;
  display: grid;
  grid-template-columns: 68% 32%;
  overflow: hidden;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.main-container {
  width: 100%;
  border-right: 1px solid rgb(128, 128, 128, 0.3);
  height: 100vh;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
  overflow: auto;
}

.reels-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.aside {
  padding: 1.5rem 0 2rem;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.reel-options-box {
  position: fixed;
  bottom: 0;
  z-index: 5;
  right: 26%;
  margin: 1rem 1rem 1.5rem;
  z-index: 4;
}

.reel-options-icon-box,
.reel-options-icon-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 5px;
}

.reel-options-icon {
  width: 2rem;
  height: 2rem;
}

.reel-options-list,
.reel-options-list2 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 100%;
  background: white;
  box-shadow: 1px 1px 10px -5px black;
  border-radius: 8px;
  right: -5%;
  display: none;
}

.reel-options-item,
.reel-options-item2 {
  font-family: appFontMedium;
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reel-options-item:first-child,
.reel-options-item2:first-child {
  border-radius: 8px 8px 0 0;
}

.reel-options-item:last-child,
.reel-options-item2:last-child {
  border-radius: 0 0 8px 8px;
}

.reel-options-item:hover,
.reel-options-item2:hover {
  background: rgba(128, 128, 128, 0.2);
  color: var(--app-theme-color);
}

.reel-options-box:hover .reel-options-list {
  display: inline;
}

.reel-options-box:hover .reel-options-icon-box {
  background: rgba(128, 128, 128, 0.2);
  color: var(--app-theme-color);
}

.autoscroll-checkbox {
  accent-color: var(--app-theme-color);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

.speed-select {
  outline: none;
  border: 2px solid var(--app-theme-color);
  border-radius: 5px;
  font-family: appFont;
  font-size: 0.8rem;
  margin-left: 1rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

.pinned-videos-container {
  margin-top: 2rem;
}

.pinned-videos-text {
  color: gray;
  font-family: appFontMedium;
  font-size: 1rem;
  padding: 0 1rem;
}

.pinned-videos-div {
  padding: 1rem 1.5rem 0.5rem;
}

.pinned-reels-skeleton {
  width: 100%;
  height: 8rem;
  margin-bottom: 1.5rem;
}

.error-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  font-family: appFontMedium;
  color: gray;
  margin: 5rem 0;
}

.error-btn {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
}

.error-btn:hover {
  opacity: 0.8;
}

.pinned-video-box {
  width: 100%;
  height: 8rem;
  background: black;
  border-radius: 5px;
  position: relative;
  margin-bottom: 1.5rem;
}

.pinned-video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.pinned-video-details {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinned-video-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
}

.pinned-video-username {
  font-family: appFontMedium;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.profile-img-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15rem;
  border-radius: 50%;
  background: transparent;
}

.profile-img2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

.profile-img-span2 {
  background: gray;
}

.profile-img-span3 {
  background: linear-gradient(
    to bottom left,
    #dc143c,
    var(--app-theme-color) 60%
  );
}

.no-story-img {
  border-color: transparent !important;
}

.unpin-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 1.2rem;
  height: 1.2rem;
}

.pinned-video-duration {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-family: monospace;
  font-size: 1rem;
  z-index: 5;
}

.arrow-div {
  position: fixed;
  bottom: 45%;
  z-index: 3;
  right: calc(27.5%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-box {
  background: rgb(128, 128, 128, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.arrow-box:last-child {
  margin-bottom: 0;
}

.arrow {
  width: 1.8rem;
  height: 1.8rem;
}

.arrow-box:hover .arrow {
  fill: var(--app-theme-color);
}

.active-arrow {
  fill: var(--app-theme-color);
}

.medium-menu-container {
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: sticky;
  top: 0;
  padding-bottom: 0.5rem;
  display: none;
}

.arrow-div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.reel-options-box2 {
  position: relative;
}

.reel-options-box2:hover .reel-options-list2 {
  display: inline;
}

.reel-options-box2:hover .reel-options-icon-box2 {
  background: rgba(128, 128, 128, 0.2);
  color: var(--app-theme-color);
}

.pinned-videos-item {
  display: none;
}

.no-data-text {
  margin: 3rem 2rem;
  color: gray;
  font-family: appFontMedium;
}

.animation-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 1.5rem 2rem;
}

.reel-skeleton-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100vh;
}

.reel-skeleton-box {
  padding: 2rem 0;
  display: flex;
  column-gap: 2rem;
  width: auto;
  height: 100%;
}

.reel-skeleton-item {
  width: 350px;
  height: 100%;
}

.engagement-content-skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  row-gap: 0.5rem;
  margin-top: auto;
}

.engagement-skeleton-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.2rem;
}
/* Media Queries */

@media screen and (max-width: 1200px) {
  .main {
    margin-left: 22%;
    grid-template-columns: 100%;
  }

  .aside {
    display: none;
  }

  .main-container {
    border-right: none;
  }

  .reels-container {
    justify-content: space-evenly;
  }

  .arrow-div,
  .reel-options-box {
    display: none;
  }

  .medium-menu-container {
    display: flex;
  }

  .pinned-videos-item {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    margin-left: 25%;
  }
}

@media screen and (max-width: 900px) {
  .main {
    margin-left: 81px;
  }

  .reel-skeleton-item {
    width: 320px;
  }
}

@media screen and (max-width: 700px) {
  .reel-skeleton-item {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin-left: 0;
  }

  .main-container {
    height: calc(100vh - 3.92rem);
  }

  .reels-container {
    height: 100%;
  }

  .medium-menu-container {
    display: none;
  }

  .reel-options-box {
    position: fixed;
    display: inline;
    height: fit-content;
    bottom: none;
    top: -0.8rem;
    z-index: 3;
    width: fit-content;
  }

  .reel-options-list {
    bottom: auto;
    top: 100%;
  }

  .reel-options-icon-box {
    padding: 0.4rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
  }

  .reel-options-icon {
    color: white;
    width: 1.6rem;
    height: 1.6rem;
  }

  .reel-options-box:hover .reel-options-icon {
    color: var(--app-theme-color);
  }

  .reel-options-box:hover .reel-options-icon-box {
    background: rgba(255, 255, 255, 0.3);
  }

  .reel-skeleton-item {
    width: 350px;
  }
}

@media screen and (max-width: 500px) {
  .main-container {
    height: calc(100vh - 3.59rem);
  }

  .engagement-content-skeleton {
    display: none;
  }

  .reel-skeleton-item {
    width: 95vw;
  }
}

@media screen and (max-width: 400px) {
  .main-container {
    height: calc(100vh - 3.29rem);
  }
}
