.main {
  margin-left: 18%;
  display: grid;
  grid-template-columns: 68% 32%;
  overflow: hidden;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.main-container {
  width: 100%;
  border-right: 1px solid rgb(128, 128, 128, 0.3);
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.reels-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding: 2rem 2rem 0; */
  position: relative;
}

.aside {
  padding: 1.5rem 0 2rem;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.aside-header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  padding-right: 0;
}

.create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-family: appFontMedium;
  background: var(--app-theme-color);
  color: white;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  margin-left: 1rem;
}

.create-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.2rem;
}

.create-btn:hover {
  opacity: 0.8;
}

.inbox-box {
  position: relative;
  display: flex;
  margin-left: 1.5rem;
  cursor: pointer;
}

.inbox-icon {
  fill: black;
  width: 2.2rem;
  height: 2.2rem;
}

.inbox-box:hover .inbox-icon {
  opacity: 0.7;
}

.inbox-number {
  background: var(--app-theme-color);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -8px;
  border-radius: 50%;
  padding: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
}

.inbox-length {
  color: white;
  font-size: 0.9rem;
  font-family: monospace;
  font-weight: 600;
}

.profile-box {
  position: relative;
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
}

.profile-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.17rem;
  border-radius: 50%;
  background: linear-gradient(
    to bottom left,
    #dc143c,
    var(--app-theme-color) 60%
  );
  cursor: pointer;
}

.profile-img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

.view-list {
  position: absolute;
  z-index: 3;
  top: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  white-space: nowrap;
  background: white;
  box-shadow: 1px 1px 10px -4px black;
  border-radius: 5px;
  right: -10px;
  display: none;
}

.view-item {
  padding: 0.6rem;
  font-family: appFontMedium;
  font-size: 0.95rem;
  cursor: pointer;
  border-radius: 5px;
}

.view-item:hover {
  background: rgba(128, 128, 128, 0.2);
  color: var(--app-theme-color);
}

.profile-box:hover .view-list {
  display: block;
}

.reel-options-box {
  position: fixed;
  bottom: 0;
  z-index: 4;
  right: 26%;
  margin: 1rem 1rem 1.5rem;
  z-index: 3;
}

.reel-options-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 5px;
}

.reel-options-icon {
  width: 2rem;
  height: 2rem;
}

.reel-options-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 100%;
  background: white;
  box-shadow: 1px 1px 10px -5px black;
  border-radius: 8px;
  right: -5%;
  display: none;
}

.reel-options-item {
  font-family: appFontMedium;
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reel-options-item:first-child {
  border-radius: 8px 8px 0 0;
}

.reel-options-item:last-child {
  border-radius: 0 0 8px 8px;
}

.reel-options-item:hover {
  background: rgba(128, 128, 128, 0.2);
  color: var(--app-theme-color);
}

.reel-options-box:hover .reel-options-list {
  display: inline;
}

.reel-options-box:hover .reel-options-icon-box {
  background: rgba(128, 128, 128, 0.2);
  color: var(--app-theme-color);
}

.autoscroll-checkbox {
  accent-color: var(--app-theme-color);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

.speed-select {
  outline: none;
  border: 2px solid var(--app-theme-color);
  border-radius: 5px;
  font-family: appFont;
  font-size: 0.8rem;
  margin-left: 1rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

.pinned-videos-container {
  margin-top: 2rem;
}

.pinned-videos-text {
  color: gray;
  font-family: appFontMedium;
  font-size: 1rem;
  padding: 0 1rem;
}

.pinned-videos-div {
  padding: 1rem 1.5rem 0.5rem;
}

.pinned-video-box {
  width: 100%;
  height: 8rem;
  background: black;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.pinned-video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.pinned-video-details {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinned-video-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pinned-video-username {
  font-family: appFontMedium;
}

.profile-img-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15rem;
  border-radius: 50%;
  background: linear-gradient(
    to bottom left,
    #dc143c,
    var(--app-theme-color) 60%
  );
}

.profile-img2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

.unpin-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 1.2rem;
  height: 1.2rem;
}

.pinned-video-duration {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-family: monospace;
  font-size: 1rem;
  z-index: 5;
}

.arrow-div {
  position: fixed;
  bottom: 45%;
  z-index: 4;
  right: calc(27.5%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-box {
  background: rgb(128, 128, 128, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.arrow-box:last-child {
  margin-bottom: 0;
}

.arrow {
  width: 1.8rem;
  height: 1.8rem;
}

.arrow-box:hover .arrow {
  fill: var(--app-theme-color);
}

.active-arrow {
  fill: var(--app-theme-color);
}
