.section {
  margin-left: 18%;
  width: 82%;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  width: calc(100% - 4rem);
  display: flex;
  align-items: flex-end;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  flex: 0 0 auto;
}

.header-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.header-item {
  font-family: appFontMedium;
  margin-right: 7rem;
  padding: 0rem 1rem 1rem;
  font-size: 1.05rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  text-align: left;
  white-space: nowrap;
}

.header-item:hover {
  color: var(--app-theme-color);
}

.active-item {
  color: var(--app-theme-color);
  border-bottom: 2px solid var(--app-theme-color);
}

.main-container::-webkit-scrollbar,
.top-result-container::-webkit-scrollbar,
.users-category-container::-webkit-scrollbar,
.contents-section::-webkit-scrollbar {
  display: none;
}

.main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  grid-template-rows: 100%;
  overflow: hidden;
  flex: 1 1 auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.top-result-container {
  padding: 0 2rem;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.users-container {
  margin-top: 1rem;
}

.users-container-head {
  font-family: appFontMedium;
  font-size: 1.1rem;
}

.users-div {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  align-items: stretch;
  column-gap: 2rem;
  overflow: auto;
}

.user {
  display: flex;
  flex-direction: column;
  width: auto;
}

.user-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}

.user-content:hover {
  background: rgba(0, 0, 0, 0.1);
}

.user-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.user-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 100%;
  max-width: 20vw;
  overflow: hidden;
}

.user-details2 {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 100%;
  overflow: hidden;
}

.user-name {
  font-family: appFontSemi;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
  text-decoration: none;
}

.user-handle {
  color: gray;
  font-size: 0.9rem;
  font-family: appFontMedium;
  margin-top: 0.05rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}

.user-followers {
  font-family: appFont;
  font-size: 0.95rem;
  margin-top: 0.05rem;
  white-space: nowrap;
  color: black;
  text-decoration: none;
}

.user-follower-count {
  font-family: appFontSemi;
  text-transform: uppercase;
}

.follow-icon-box {
  background: var(--app-theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  padding: 0.25rem;
  cursor: pointer;
  position: absolute;
  bottom: -2px;
  right: 0;
}

.follow-icon-box2 {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  padding: 0.3rem;
  cursor: pointer;
  position: absolute;
  bottom: -2px;
  right: 0;
  box-shadow: 1px 1px 10px -3px black;
}

.follow-icon {
  width: 0.9rem;
  height: 0.9rem;
}

.follow-icon2 {
  width: 0.75rem;
  height: 0.75rem;
  fill: var(--app-theme-color);
}

.user-latest-content {
  display: grid;
  grid-template-columns: 9.5rem 9.5rem;
  grid-template-rows: 9.5rem;
  column-gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  position: relative;
  overflow: visible;
}

.user-latest-content2 {
  display: grid;
  grid-template-columns: 20rem;
  grid-template-rows: 9.5rem;
  width: 100%;
  margin-top: 1rem;
}

.user-latest-content > div,
.user-latest-content2 > div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  transition: opacity 0.25s;
  cursor: pointer;
}

.user-latest-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.reel-icon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 1.5%;
  top: 3%;
}

.user-latest-content > div:hover,
.user-latest-content2 > div:hover {
  opacity: 0.8;
}

.contents-section {
  position: relative;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: auto;
}

.contents-container {
  margin-top: 2rem;
}

.contents-div {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  column-gap: 1rem;
  width: 100%;
  justify-content: space-between;
  padding: 1.5rem 2rem 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: opacity 0.2s;
  margin-bottom: 2rem;
  height: fit-content;
}

.content:hover {
  opacity: 0.8;
}

.content-name {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  max-width: 100%;
  color: black;
  text-decoration: none;
}

.content-img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.content-handle {
  font-family: appFontMedium;
  font-size: 0.95rem;
  margin-left: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-item-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 5px;
  position: relative;
}

.content-item {
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  min-height: 200px;
}

.content-time {
  position: absolute;
  bottom: 3%;
  left: 3%;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-family: appFontSemi;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.3rem;
}

.content-views {
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-family: appFontSemi;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

.content-views-icon {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.3rem;
}

.content-description {
  font-family: appFont;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.users-category-container {
  padding: 0 2rem 1.5rem;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.users-category-container2 {
  padding-top: 1rem !important;
}

.user-category-item {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.user-category-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.following-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.follow-btn {
  background: var(--app-theme-color);
  color: white;
  border: none;
  outline: none;
  font-family: appFontMedium;
  font-size: 0.9rem;
  border-radius: 5px;
  margin-left: auto;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: opacity 0.3s;
  text-decoration: none;
}

.follow-btn:hover {
  color: black;
}

.following-txt {
  color: gray;
  font-family: appFontMedium;
  font-size: 0.95rem;
  text-decoration: none;
}

.show-search-div {
  display: none;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding-right: 0.5rem;
}

.back-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.back-icon:hover {
  color: var(--app-theme-color);
}

.search-box {
  position: relative;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: gray;
  position: absolute;
  left: 3%;
}

.search-input {
  border: none;
  outline: none;
  font-family: appFont;
  font-size: 0.95rem;
  width: calc(100% - 3.7rem);
  margin-left: 2rem;
  padding: 0.7rem;
  background: transparent;
}

.search-input::placeholder {
  font-size: 0.95rem;
}

.close-search-icon {
  position: absolute;
  right: 2%;
  width: 1.05rem;
  height: 1.05rem;
  fill: white;
  cursor: pointer;
  background: var(--app-theme-color);
  border-radius: 50%;
  padding: 0.15rem;
}

.hide-search {
  display: none;
}

.error-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  font-family: appFontMedium;
  color: gray;
  position: absolute;
  left: 0;
  top: 25%;
  width: calc(100% - 3rem);
  font-size: 1rem;
}

.empty-icon {
  fill: var(--app-theme-color);
  width: 4rem;
  height: 4rem;
}
.empty-icon2 {
  fill: white;
  width: 4rem;
  height: 4rem;
  color: var(--app-theme-color);
}
.top-skeleton-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  row-gap: 4rem;
  width: 100%;
}

.top-users-skeleton-container {
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 1.3333rem));
  width: 100%;
  overflow: auto;
  column-gap: 2rem;
}

.top-users-skeleton-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.top-users-skeleton-item-media {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.5rem));
  column-gap: 1rem;
}

.top-contents-skeleton-container {
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 1.3333rem));
  gap: 2rem;
}

.top-users-skeleton-profile {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.top-users-skeleton-profile-details {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  width: 100%;
  justify-content: space-between;
}

.top-contents-skeleton-item {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
}

.top-contents-skeleton-item-profile {
  display: grid;
  align-items: center;
  grid-template-columns: auto calc(100% - 66px);
  width: 100%;
  column-gap: 1rem;
}

.error-btn {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.6rem 1.3rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.error-btn:hover {
  opacity: 0.8;
}

.users-skeleton-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 2rem 0;
}

.users-skeleton-container > div {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.users-skeleton-container .user-details-skeleton {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  width: 100%;
}

.users-skeleton-container .user-details-skeleton span {
  width: 100%;
}

.users-skeleton-container > div > span:last-child {
  margin-left: 2rem;
}

.contents-skeleton-container {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 1.3333rem));
  gap: 2rem;
  padding: 2rem;
}

.loading-box {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Media Queries */

@media screen and (max-width: 1300px) {
  .header-item {
    margin-right: 5rem;
  }

  .user-latest-content {
    grid-template-columns: 9rem 9rem;
  }
  .user-latest-content2 {
    grid-template-columns: 19rem;
  }

  .user-latest-content,
  .user-latest-content2 {
    grid-template-rows: 9rem;
  }
}

@media screen and (max-width: 1200px) {
  .section {
    margin-left: 22%;
    width: 78%;
  }

  .header-item {
    margin-right: 3.5rem;
  }

  .user-latest-content {
    grid-template-columns: 8rem 8rem;
  }
}

@media screen and (max-width: 1100px) {
  .header-item {
    margin-right: 7rem;
  }

  .user-latest-content {
    grid-template-columns: 7rem 7rem;
  }

  .user-latest-content2 {
    grid-template-columns: 15rem;
  }

  .user-latest-content,
  .user-latest-content2 {
    grid-template-rows: 7rem;
  }
}

@media screen and (max-width: 1000px) {
  .section {
    margin-left: 25%;
    width: 75%;
  }

  .user-img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .user-latest-content {
    grid-template-columns: 6rem 6rem;
  }

  .user-latest-content2 {
    grid-template-columns: 13rem;
  }

  .user-latest-content,
  .user-latest-content2 {
    grid-template-rows: 6rem;
  }

  .content-time {
    font-size: 0.8rem;
    padding: 0.25rem;
  }

  .content-views {
    font-size: 0.8rem;
    padding: 0.25rem;
  }

  .content-views-icon {
    width: 0.7rem;
    height: 0.7rem;
  }
}

@media screen and (max-width: 900px) {
  .section {
    margin-left: 81px;
    width: calc(100% - 81px);
  }

  .user-latest-content {
    grid-template-columns: 7rem 7rem;
  }

  .user-latest-content2 {
    grid-template-columns: 15rem;
  }

  .user-latest-content,
  .user-latest-content2 {
    grid-template-rows: 7rem;
  }
}

@media screen and (max-width: 800px) {
  .user-details {
    max-width: 27vw;
  }

  .header-list {
    width: 100%;
    justify-content: space-between;
  }

  .header-item {
    margin-right: 0;
  }

  .section-header {
    width: calc(100% - 2rem);
  }

  .users-category-container {
    padding: 0 1rem 1.5rem;
  }
  .contents-div {
    padding: 1.5rem 1rem 0.5rem;
  }
  .top-result-container {
    padding: 0 1rem;
  }

  .contents-skeleton-container {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 700px) {
  .user-details {
    max-width: 30vw;
  }

  .contents-div {
    grid-template-columns: calc(50% - 0.75rem) calc(50% - 0.75rem);
  }

  .contents-skeleton-container,
  .top-contents-skeleton-container,
  .top-users-skeleton-container {
    grid-template-columns: repeat(2, calc(50% - 1rem));
  }

  .top-contents-skeleton-container > :nth-last-child(-n + 1),
  .top-users-skeleton-container > :nth-last-child(-n + 1) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .section {
    margin-left: 0;
    width: 100%;
  }

  .section-header {
    flex-direction: column;
    align-items: center;
  }

  .header-list {
    padding-top: 1rem;
  }

  .show-search-div {
    display: flex;
  }

  .user-latest-content {
    grid-template-columns: 8rem 8rem;
  }

  .user-latest-content2 {
    grid-template-columns: 17rem;
  }

  .user-latest-content,
  .user-latest-content2 {
    grid-template-rows: 8rem;
  }

  .users-skeleton-container > div > span:last-child {
    margin-left: 1rem;
  }

  .user-img {
    width: 3rem;
    height: 3rem;
  }

  .error-div {
    width: calc(100%);
  }
}

@media screen and (max-width: 500px) {
  .user-details {
    max-width: 35vw;
  }

  .contents-div {
    grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  }

  .contents-skeleton-container,
  .top-contents-skeleton-container,
  .top-users-skeleton-container {
    grid-template-columns: repeat(2, calc(50% - 0.5rem));
    column-gap: 1rem;
  }

  .contents-div {
    padding: 1.5rem 0.5rem 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  .contents-div {
    grid-template-columns: calc(50% - 0.25rem) calc(50% - 0.25rem);
    column-gap: 0.5rem;
  }

  .section-header {
    width: calc(100% - 1rem);
  }

  .users-category-container {
    padding: 0 0.5rem 1.5rem;
  }
  .top-result-container {
    padding: 0 0.5rem;
  }
  .contents-skeleton-container {
    padding: 2rem 0.5rem;
  }
  .user-details {
    max-width: 45vw;
  }

  .header-item {
    font-size: 0.95rem;
    padding: 0rem 1rem 0.5rem;
  }

  .back-icon {
    margin-right: 0.7rem;
  }

  .top-users-skeleton-container {
    grid-template-columns: 100%;
  }

  .top-users-skeleton-container > :nth-last-child(-n + 2) {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .user-details {
    max-width: 50vw;
  }

  .content-time {
    font-size: 0.7rem;
    padding: 0.2rem;
  }

  .content-views {
    font-size: 0.7rem;
    padding: 0.2rem;
  }

  .content-views-icon {
    width: 0.6rem;
    height: 0.6rem;
  }
}

@media screen and (min-width: 1400px) {
  .contents-div {
    grid-template-columns: repeat(4, 23.5%);
  }
}

@media screen and (min-width: 2000px) {
  .contents-div {
    grid-template-columns: repeat(5, 18.5%);
  }
}

@media screen and (min-width: 2500px) {
  .contents-div {
    grid-template-columns: repeat(6, 15.25%);
  }
}

@media screen and (min-width: 3000px) {
  .contents-div {
    grid-template-columns: repeat(7, 12.85%);
  }
}

@media screen and (min-width: 3500px) {
  .contents-div {
    grid-template-columns: repeat(8, 11.1%);
  }
}
