.section {
  width: 100%;
  position: relative;
}

.section-head {
  margin: 0 0 1.5rem;
  padding: 0;
  font-family: appFont;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.alerts-container {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 1rem;
}

.alert {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 1.3rem;
  word-wrap: break-word;
}

.info {
  border-left: 5px solid #28a745;
  background: #e3fcef;
}

.warning {
  background: #fff4e5;
  border-left: 5px solid #ff9800;
}

.critical {
  background: #fdecea;
  border-left: 5px solid #d32f2f;
}

.alert-message {
  font-family: appFont;
  font-size: 0.95rem;
}

.btn-div {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
}

.btn {
  border: none;
  outline: none;
  background: var(--app-theme-color);
  color: white;
  border-radius: 5px;
  font-family: appFont;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.time-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-box input {
  accent-color: var(--app-theme-color);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  display: none;
}

.alert:hover .time-box input,
.show-checkbox {
  display: inline !important;
}

.time {
  font-family: appFontMedium;
  color: gray;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.current-device {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

.current-device-text {
  font-family: appFontMedium;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  display: inline-block;
}

.device {
  display: flex;
  align-items: flex-start;
  width: 75%;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.device-icon {
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
  transform: translateY(4px);
  color: gray;
}

.device-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 1rem;
  overflow: hidden;
}

.device-name {
  font-family: appFontMedium;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.login-method {
  font-family: appFont;
  margin-top: 0.2rem;
}

.login-time {
  font-family: appFont;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.last-used-box {
  font-family: appFont;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.remove-icon {
  fill: gray;
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  flex-shrink: 0;
}

.remove-icon:hover {
  fill: var(--app-theme-color);
}

.other-devices {
  margin-top: 0.5rem;
  padding: 0 0.5rem;
}

.devices-container {
  display: flex;
  flex-direction: column;
}

.back-icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.6rem;
  display: none;
  cursor: pointer;
}

.back-icon:hover {
  color: var(--app-theme-color);
}

.no-data-text {
  margin: 3rem 0;
  color: gray;
  font-family: appFontMedium;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / -1;
}

.devices-error-text {
  margin-top: 5rem;
}

.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.device-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 0;
}

.error-btn {
  margin-top: 1rem;
}

.error-btn button {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.95rem;
}

.error-btn button:hover {
  opacity: 0.8;
}

.select-box {
  position: absolute;
  top: 0;
  font-family: appFontMedium;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  background: white;
}

.select-btn-box {
  display: flex;
  align-items: center;
}

.delete-btn {
  outline: none;
  border: none;
  font-family: appFontMedium;
  background: red;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.cancel-btn {
  outline: none;
  border: none;
  font-family: appFontMedium;
  background: var(--app-theme-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
  transition: opacity 0.2s;
}

.cancel-btn:hover,
.delete-btn:hover {
  opacity: 0.8;
}

.disable-btn {
  opacity: 0.5 !important;
  pointer-events: none;
}

.linked-accounts {
  padding: 0.5rem;
}

.linked-account {
  background: white;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 8px -5px black;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.linked-account img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.linked-account-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.linked-account-type {
  font-family: appFontMedium;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.linked-account-time {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.linked-account-time span {
  font-family: appFont;
}

.linked-account-time time {
  font-style: italic;
  font-family: appFont;
  font-size: 0.95rem;
}

.linked-account-btn {
  margin-left: auto;
  display: flex;
  column-gap: 1rem;
}

.linked-account-btn > button {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  font-family: appFont;
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.linked-account-btn > button:last-child {
  background: red;
}

.linked-account-btn > button:hover {
  opacity: 0.8;
}

.link-provider-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  margin: 1rem 1rem 2rem;
}

.link-provider-btns > button {
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  cursor: pointer;
  border: 1px solid var(--app-theme-color);
  outline: none;
  font-family: appFont;
  font-size: 0.95rem;
  transition: all 0.25s;
}

.link-provider-btns > button img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.link-provider-btns > button:hover {
  background: var(--app-theme-color);
  color: white;
}

.no-linked-text {
  font-family: appFont;
  margin: 0.5rem 0 1rem;
}

/* Media Queries */

@media screen and (max-width: 1300px) {
  .device {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .device {
    width: 90%;
  }

  .alerts-container {
    padding: 0 1rem 1rem;
  }

  .linked-account-btn {
    margin-top: 1rem;
    width: 100%;
    justify-content: flex-end;
  }

  .link-provider-btns {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .link-provider-btns > button {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .device {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .device {
    width: 100%;
    padding: 0 0.3rem;
  }

  .alerts-container {
    padding: 0 0.5rem 1rem;
  }
}

@media screen and (max-width: 800px) {
  .device {
    padding: 0;
  }

  .alerts-container {
    padding: 0 0rem 1rem;
  }

  .linked-account img {
    width: 2.7rem;
    height: 2.7rem;
  }
}

@media screen and (max-width: 700px) {
  .section {
    padding-bottom: 2rem;
  }

  .section-head {
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
    padding: 2rem 1rem 0.5rem;
    margin: 0 0 1rem;
  }

  .back-icon {
    display: inline;
  }

  .current-device,
  .other-devices {
    padding: 0 1.5rem;
  }

  .alerts-container {
    padding: 0 1.5rem 1rem;
  }

  .select-box {
    padding: 1rem;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .section-head {
    padding: 1.5rem 1rem 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .current-device,
  .other-devices {
    padding: 0 1rem;
  }

  .alerts-container {
    padding: 0 1rem 1rem;
  }
}

@media screen and (max-width: 400px) {
  .alerts-container {
    padding: 0 0.5rem 1rem;
  }

  .linked-account-details {
    margin-left: 0;
    width: 100%;
    margin-top: 1rem;
  }
}
