.section {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  min-height: 100vh;
  z-index: 5;
  overflow: auto;
  animation: showModal 0.5s ease-in-out 0s 1 normal both;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  padding: 1rem;
}

.close-icon-box {
  position: absolute;
  right: 1%;
  top: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.3rem;
  transition: background 0.2s;
}

.close-icon {
  fill: white;
  width: 1.7rem;
  height: 1.7rem;
}

.close-icon-box:hover {
  background: var(--app-theme-color);
}

.story-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

.left-arrow-box {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 30%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  padding: 0.05rem;
  box-shadow: 1px 1px 6px -2px black;
}

.right-arrow-box {
  z-index: 2;
  position: absolute;
  top: 40%;
  right: 30%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  padding: 0.05rem;
  box-shadow: 1px 1px 6px -2px black;
}

.left-arrow,
.right-arrow {
  width: 1.4rem;
  height: 1.4rem;
}

.left-arrow-box:hover,
.right-arrow-box:hover {
  background: var(--app-theme-color);
  color: white;
}

.void-next-story {
  width: calc(40% - 8rem);
  margin-right: 3rem;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.void-next-story2 {
  width: calc(40% - 8rem);
  margin-right: 0;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

/* Animations */

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
