.section {
  width: 100%;
}

.section-head {
  margin: 0 0 1.5rem;
  padding: 0;
  font-family: appFont;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.category {
  margin: 1rem 0 2rem;
}

.category-head {
  font-family: appFontMedium;
  font-size: 1.1rem;
  display: inline-block;
  margin-bottom: 0.7rem;
}

.category-details {
  margin: 0;
  font-family: appFont;
  padding: 0 0.5rem;
}

.category-list {
  margin: 0;
  font-family: appFont;
  margin-top: 0.5rem;
}

.topic-list {
  display: block;
  outline: none;
  border: 2px solid var(--app-theme-color);
  font-family: appFont;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 75%;
  margin-top: 0.3rem;
}

.description {
  display: block;
  resize: none;
  outline: none;
  border: 2px solid var(--app-theme-color);
  border-radius: 8px;
  padding: 0.5rem;
  font-family: appFont;
  font-size: 1rem;
  width: 75%;
  height: 10rem;
}

.report-div {
  padding: 0 0.5rem;
}

.hide-file {
  display: none;
}

.file-btn {
  outline: none;
  border: none;
  background: var(--app-theme-color);
  color: white;
  cursor: pointer;
  font-family: appFont;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.file-btn:hover {
  opacity: 0.9;
}

.btn-div {
  display: flex;
  margin-top: 0.5rem;
}

.files-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 2rem;
  width: 80%;
}

.file {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.file-index {
  font-family: appFontSemi;
}

.file-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 1rem;
  overflow: hidden;
}

.detail-box {
  display: flex;
  align-items: center;
}

.detail-box:last-child {
  margin-top: 0.3rem;
}

.detail-name {
  font-family: appFontMedium;
  white-space: nowrap;
}

.detail-value {
  white-space: nowrap;
  font-family: appFont;
  margin-left: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.delete-icon {
  margin-left: auto;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.delete-icon:hover {
  fill: var(--app-theme-color);
}

.disable-btn {
  opacity: 0.5;
  pointer-events: none;
}

.btn-div2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem;
}

.back-icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.6rem;
  display: none;
  cursor: pointer;
}

.back-icon:hover {
  color: var(--app-theme-color);
}

.counter-box {
  text-align: right;
  font-family: monospace, appFont;
  color: gray;
  margin-top: 1rem;
  width: 75%;
}
 

/* Media Queries */

@media screen and (max-width: 1200px) {
  .topic-list,
  .description,
  .counter-box {
    width: 85%;
  }

  .files-container {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .topic-list,
  .description,
  .counter-box {
    width: 100%;
  }

  .files-container {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .section {
    padding-bottom: 2rem;
  }

  .section-head {
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
    padding: 2rem 1rem 0.5rem;
    margin: 0 0 1rem;
  }

  .category {
    padding: 0 1.5rem;
  }

  .back-icon {
    display: inline;
  }
}

@media screen and (max-width: 600px) {
  .section-head {
    padding: 1.5rem 1rem 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .category {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 400px) {
  .report-div {
    padding: 0;
  }
}
