.section {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100vh;
  z-index: 6;
  overflow: auto;
  animation: showModal 0.5s ease-in-out 0s 1 normal both;
  display: grid;
  grid-template-columns: 37%;
  justify-content: center;
  align-content: center;
}

.container {
  background: white;
  border-radius: 5px;
  padding: 1.5rem;
  max-height: 100vh;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.head {
  font-family: appFont;
  font-size: 1.2rem;
  margin: auto;
}

.close-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.2rem;
}

.close-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.close-icon-box:hover {
  color: white;
  background: var(--app-theme-color);
}

.accounts-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accounts {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
}

.active-account {
  cursor: default;
}

.accounts-img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.names-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  overflow: hidden;
  margin-right: 1rem;
}

.user-name {
  font-family: appFontMedium;
  font-size: 1.05rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user-handle {
  color: gray;
  font-family: appFontMedium;
  font-size: 0.95rem;
  margin-top: 0.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.check {
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--app-theme-color);
  flex-shrink: 0;
}

.accounts:not(.active-account):hover {
  background: rgba(0, 0, 0, 0.1);
}

.add-account-box {
  display: flex;
  align-items: center;
  margin: 0.5rem 0.5rem 1rem;
  cursor: pointer;
}

.add-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem;
  border: 2px solid var(--app-theme-color);
  border-radius: 50%;
}

.add-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--app-theme-color);
}

.add-text {
  font-family: appFontMedium;
  margin-left: 1rem;
  font-size: 1.1rem;
}

.add-account-box:hover {
  opacity: 0.8;
}

.device-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 4rem;
}

.no-data-text {
  color: gray;
  font-family: appFontMedium;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 3rem;
}

.error-btn {
  margin-top: 1rem;
}

.error-btn button {
  background: var(--app-theme-color);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-family: appFontMedium;
  color: white;
  cursor: pointer;
  font-size: 0.95rem;
}

.error-btn button:hover {
  opacity: 0.8;
}

.disable-switching {
  opacity: 0.5;
  pointer-events: none;
}

/* Animations */

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */

@media screen and (max-width: 1300px) {
  .section {
    grid-template-columns: 40%;
  }
}

@media screen and (max-width: 1200px) {
  .section {
    grid-template-columns: 45%;
  }
}

@media screen and (max-width: 1100px) {
  .section {
    grid-template-columns: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .section {
    grid-template-columns: 55%;
  }
}

@media screen and (max-width: 900px) {
  .section {
    grid-template-columns: 60%;
  }
}

@media screen and (max-width: 800px) {
  .section {
    grid-template-columns: 70%;
  }
}

@media screen and (max-width: 700px) {
  .section {
    grid-template-columns: 80%;
  }
}

@media screen and (max-width: 600px) {
  .section {
    grid-template-columns: 90%;
    align-content: end;
  }

  .container {
    border-radius: 5px 5px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .section {
    grid-template-columns: 95%;
  }

  .container {
    padding: 1.5rem 1rem;
  }

  .accounts-img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .add-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .section {
    grid-template-columns: 100%;
  }

  .container {
    padding: 1.5rem 0.5rem;
  }
}
