.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: calc(100% - 4rem);
  grid-template-rows: calc(100% - 2rem);
  justify-content: center;
  align-content: center;
  overflow: auto;
}

.edit-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: white;
  box-shadow: 1px 1px 5px -3px black, -1px -1px 5px -3px black;
  border-radius: 5px;
  overflow: visible;
}

.container-head {
  font-family: appFontSemi;
  border-bottom: 1px solid rgb(128, 128, 128, 0.3);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-container {
  height: calc(100% - 6.6rem);
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% 45% 45%;
  justify-content: center;
  position: relative;
}

.video-box {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 1rem;
  border-left: 1px solid rgb(128, 128, 128, 0.3);
}

.video-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.video {
  height: 100%;
  aspect-ratio: 9/16;
  border-radius: 5px;
  object-fit: contain;
  background: black;
}

.poster {
  position: absolute;
  aspect-ratio: 9/16;
  border-radius: 5px;
  object-fit: cover;
  height: 100%;
}

.video-details {
  position: absolute;
  z-index: 2;
  bottom: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
  user-select: none;
}

.video-play-icon {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
}

.video-duration {
  font-family: appFontMedium;
  font-size: 0.95rem;
}

.category-list {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  padding-top: 1rem;
  border-right: 1px solid rgb(128, 128, 128, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: appFontMedium;
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  color: gray;
}

.current-category {
  color: black;
}

.swap-icon {
  position: absolute;
  bottom: 1rem;
  fill: var(--app-theme-color);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.swap-icon:hover {
  opacity: 0.8;
}

.head-menu {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.close-edit-box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.2rem;
  flex-shrink: 0;
}

.next-stage-btn {
  display: none;
}

.close-edit-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.close-edit-icon2 {
  width: 1.1rem;
  height: 1.1rem;
}

.close-edit-box:hover {
  background: var(--app-theme-color);
  color: white;
}

.edit-icon {
  width: 1.3rem;
  height: 1.3rem;
}

.cover-photo-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.cover-photo-head {
  font-family: appFontMedium;
  padding: 0.7rem 1rem 0;
  color: gray;
}

.cover-photo-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  padding-bottom: 0;
}

.cover-photo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 5px;
  width: calc(25% - 1rem);
  margin: 0 0.5rem 1rem;
  cursor: pointer;
  position: relative;
}

.current-cover {
  border: 2px solid var(--app-theme-color);
}

.remove-cover-box {
  position: absolute;
  right: -10%;
  top: -10%;
  background: var(--app-theme-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

.remove-cover-icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: white;
}

.cover-photo-img {
  width: 100%;
  height: 6rem;
  object-fit: cover;
  border-radius: 3px;
}

.cover-photo-btn-div {
  display: flex;
  align-items: center;
}

.cover-photo-btn {
  margin: 1.5rem;
  border: none;
  outline: none;
  background: var(--app-theme-color);
  cursor: pointer;
  color: white;
  font-family: appFont;
  padding: 0.7rem;
  border-radius: 5px;
  transition: opacity 0.2s;
}

.cover-photo-btn:hover {
  opacity: 0.9;
}

.add-sound-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.add-sound-btn-div {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  justify-content: center;
}

.add-sound-txt {
  font-family: appFont;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.add-sound-txt2 {
  font-family: appFont;
  font-size: 0.95rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.add-sound-btn {
  border: none;
  outline: none;
  background: var(--app-theme-color);
  cursor: pointer;
  color: white;
  font-family: appFont;
  padding: 0.7rem;
  border-radius: 5px;
  transition: opacity 0.2s;
}

.add-sound-btn:hover {
  opacity: 0.9;
}

/* .add-sound-head {
  font-family: appFontMedium;
  padding: 0.7rem 1rem 0;
  color: gray;
} */

.sound-category-container {
  width: 100%;
}

.sound-category-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(128, 128, 128, 0.3);
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}

.sound-category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-family: appFontMedium;
  padding: 0.5rem;
  cursor: pointer;
  color: gray;
  border-bottom: 1px solid transparent;
}

.current-sound-category {
  color: black;
  border-bottom: 1px solid black;
}

.sound-category-div {
  width: 100%;
  padding: 1rem;
  position: relative;
}

.sound-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.sound-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--app-theme-color);
  margin-left: 1rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: opacity 0.2s;
}

.sound-icon:hover {
  opacity: 0.8;
}

.sound-details {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2.5rem);
}

.sound-name {
  font-family: appFontMedium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.95rem;
}

.sound-duration {
  font-family: appFont;
  font-size: 0.9rem;
  margin-top: 0.1rem;
}

.sound-btn-box {
  margin-left: auto;
  align-items: center;
  display: none;
}

.sound-use-button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.7rem;
  background: var(--app-theme-color);
  color: white;
  cursor: pointer;
  font-family: appFontMedium;
  font-size: 0.9rem;
  transition: opacity 0.2s;
}

.sound-save-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.sound-use-button:hover,
.sound-save-icon:hover {
  opacity: 0.8;
}

.sound-box:hover .sound-btn-box {
  display: flex;
}

.sound-box:hover .sound-details {
  width: calc(100% - 10.5rem);
  color: var(--app-theme-color);
}

.playing-sound {
  color: var(--app-theme-color);
}

.hidden-div {
  display: none;
}

.plus-icon-div {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
  z-index: 2;
}

.plus-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--app-theme-color);
  color: white;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.plus-icon {
  width: 1.3rem;
  height: 1.3rem;
}

.plus-icon-box:hover .plus-icon {
  color: black;
}

.hide-item {
  visibility: hidden;
}

.local-photo-div {
  width: 100%;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
}

.local-photo-head {
  color: gray;
  font-family: appFontMedium;
  margin-bottom: 0.5rem;
}

.trim-container {
  height: 4rem;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid rgb(128, 128, 128, 0.3);
  display: flex;
  user-select: none;
}

.trim-div {
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(128, 128, 128, 0.3);
  width: calc(100% - 6.15rem);
  position: relative;
}

.trim-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.trim-img:first-child {
  border-radius: 0 0 0 5px;
}

.next-btn-div {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.15rem;
}

.next-btn {
  outline: none;
  border: none;
  background: var(--app-theme-color);
  border-radius: 8px;
  font-family: appFontMedium;
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  color: white;
  transition: opacity 0.2s;
}

.next-btn:hover {
  opacity: 0.8;
}

.slider-div {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.slider {
  width: 100%;
  height: 3.9rem;
  background: transparent;
  border-radius: 5px;
  position: relative;
}

.track {
  background: transparent;
  height: 100%;
  border-radius: 5px;
}

.thumb {
  width: 1rem;
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: ew-resize;
  position: relative;
  background: transparent;
  border: none;
}

.thumb-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  background: transparent;
}

.start-position {
  position: absolute;
  top: -40%;
  font-family: monospace;
  font-weight: bold;
  box-shadow: 1px 1px 10px -3px black;
  background: white;
  border-radius: 5px;
  padding: 0.2rem;
}

.progress-line {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 0.5rem;
  height: 100%;
  border-radius: 10px;
  background: white;
  display: none;
}

.mobile-menu-div {
  position: absolute;
  right: 0.8rem;
  top: 0.6rem;
  display: none;
  z-index: 2;
}

.menu-icon-box {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 1px 8px -4px black;
  padding: 0.3rem;
  cursor: pointer;
}

.menu-icon {
  width: 1.3rem;
  height: 1.3rem;
}

.menu-icon-box:hover {
  color: var(--app-theme-color);
}

.menu-list {
  margin: 0;
  padding: 0;
  position: absolute;
  list-style-type: none;
  top: 110%;
  right: 0%;
  background: white;
  box-shadow: 1px 1px 8px -4px black;
  border-radius: 5px;
  display: none;
}

.menu-item {
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-family: appFontMedium;
  font-size: 0.95rem;
  padding: 0.75rem 0.6rem;
  padding-right: 1rem;
}

.menu-item-icon {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.menu-item:first-child {
  border-radius: 5px 5px 0 0;
}

.menu-item:last-child {
  border-radius: 0 0 5px 5px;
}

.menu-item:hover {
  background: var(--app-theme-color);
  color: white;
}

.mobile-menu-div:hover .menu-list {
  display: block;
}

.mobile-menu-div:hover .menu-icon-box {
  color: var(--app-theme-color);
}
/* Media Queries */

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: calc(100% - 2rem);
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: calc(100% - 4rem);
  }

  .video-container {
    grid-template-columns: 100%;
    position: relative;
  }

  .cover-photo-container,
  .add-sound-container,
  .category-list {
    display: none;
  }

  .mobile-menu-div {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: calc(100% - 2rem);
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: calc(100% - 1.5rem);
  }

  .next-btn-div {
    display: none;
  }

  .trim-div {
    width: 100%;
  }

  .next-stage-btn {
    display: flex;
    padding: 0.3rem;
  }

  .mobile-menu-div {
    right: 0.5rem;
    top: 0.5rem;
  }
}
