.carousel-details-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.carousel-details-container {
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0, 0.8);
  overflow: hidden;
  user-select: none;
  width: 500px;
  height: 500px;
}

.cropper-container {
  visibility: hidden;
  z-index: -1;
}

.pagination-box {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 2;
  color: black;
  font-family: appFontMedium;
  font-size: 0.95rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
}

.back-arrow-box {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 2;
  color: white;
  background: var(--app-theme-color);
  padding: 0.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

.back-arrow {
  width: 1.3rem;
  height: 1.3rem;
}

.back-arrow-box:hover {
  opacity: 0.8;
}

.img {
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}

.right-arrow-box {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.2rem;
  right: 1.5%;
  top: 45%;
  cursor: pointer;
  transition: opacity 0.2s;
  z-index: 2;
}

.left-arrow-box {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.2rem;
  left: 1.5%;
  top: 45%;
  cursor: pointer;
  transition: opacity 0.2s;
  z-index: 2;
}

.right-arrow-box:hover,
.left-arrow-box:hover {
  opacity: 0.8;
}

.arrow {
  fill: white;
  width: 1.6rem;
  height: 1.6rem;
}

.dot-box {
  position: absolute;
  bottom: 1%;
  display: flex;
  align-items: center;
  justify-items: center;
  max-width: 63px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.dot {
  font-weight: 900;
  font-size: 2.6rem;
  color: gray;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  opacity: 0.7;
}

.current-dot {
  color: var(--app-theme-color);
  opacity: 1;
}

.upload-details-container {
  padding: 2rem;
  align-self: flex-start;
  width: 100%;
}

.description-container,
.collaborator-container,
.settings-container {
  display: flex;
  flex-direction: column;
}

.description-head,
.collaborator-head,
.settings-head {
  font-family: appFontMedium;
}

.collaborator-container,
.settings-container {
  margin-top: 1.5rem;
}

.file-description-container {
  display: flex;
  margin-top: 1rem;
}

.file-description-text {
  font-family: appFontMedium;
  font-size: 0.9rem;
  white-space: nowrap;
}

.file-description-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  background: rgba(0, 0, 0, 0.08);
  padding: 1rem;
  padding-right: 0;
  border-radius: 5px;
}

.file-description {
  resize: none;
  width: 100%;
  height: 4rem;
  border: none;
  outline: none;
  background: transparent;
  font-family: appFont;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.file-description-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}

.file-pagination-details {
  display: flex;
  align-items: center;
}

.prev-file-box,
.next-file-box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prev-file-icon,
.next-file-icon {
  width: 1.7rem;
  height: 1.7rem;
}

.prev-file-box:hover,
.next-file-box:hover {
  opacity: 0.5;
}

.inactive-file-box {
  opacity: 0.2;
  pointer-events: none;
}

.file-select-box {
  display: flex;
  align-items: center;
  font-family: appFontMedium;
  margin: 0 1rem;
}

.file-select {
  border: none;
  outline: none;
  background: white;
  color: var(--app-theme-color);
  border-radius: 5px;
  padding: 0.3rem;
  margin-right: 0.5rem;
  cursor: pointer;
  font-family: appFontMedium;
  font-size: 0.95rem;
}

.file-select-length {
  margin-left: 0.5rem;
}

.file-description-length {
  color: gray;
  font-family: monospace;
  font-weight: 500;
  font-size: 0.9rem;
}

.general-description-text {
  margin-top: 2rem;
  font-family: appFontMedium;
  font-size: 0.9rem;
  white-space: nowrap;
}

.description-box {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.08);
  padding: 1rem;
  padding-right: 0;
  border-radius: 5px;
  font-family: appFont;
  position: relative;
}

.description {
  height: 7rem;
  overflow: auto;
  padding-right: 1rem;
  background: none;
  border: none;
  outline: none;
}

.description-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding-right: 1rem;
}

.links-box {
  display: flex;
  align-items: center;
}

.mention-box,
.hashtag-box {
  color: gray;
  font-family: appFontMedium;
  font-size: 0.95rem;
  cursor: pointer;
  user-select: none;
}

.mention-box {
  margin-right: 1rem;
}

.description-length {
  color: gray;
  font-family: monospace;
  font-weight: 500;
  font-size: 0.95rem;
}

.settings-div {
  margin-top: 1rem;
}

.settings-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.settings-box2 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.settings-box-head {
  font-family: appFontMedium;
  font-size: 0.9rem;
}

.settings-box-label {
  font-family: appFontMedium;
  font-size: 0.9rem;
  cursor: pointer;
}

.accessibility-select {
  outline: none;
  border: 2px solid var(--app-theme-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
  font-family: appFont;
  font-size: 0.95rem;
}

.settings-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: var(--app-theme-color);
  margin-right: 1rem;
  cursor: pointer;
  flex-shrink: 0;
}

.post-btn-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.post-btn {
  outline: none;
  border: none;
  background: var(--app-theme-color);
  border-radius: 8px;
  font-family: appFontMedium;
  font-size: 0.95rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  color: white;
  transition: opacity 0.2s;
}

.post-btn:hover {
  opacity: 0.8;
}

.cancel-btn {
  background: red;
  margin-right: 1rem;
}

.placeholder {
  font-family: appFont;
  color: gray;
  font-size: 0.95rem;
  position: absolute;
  top: 1rem;
  z-index: -1;
}

.collaborators-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 55%;
  background: rgba(0, 0, 0, 0.08);
  padding: 0.7rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.collaborators-input {
  outline: none;
  width: calc(100% - 1.4rem);
  display: block;
  font-family: appFont;
  border: none;
  font-size: 1rem;
  background: transparent;
}

.clear-icon {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 28%;
}

.clear-icon:hover {
  color: var(--app-theme-color);
}

.video-container {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

.video {
  height: 100%;
  aspect-ratio: 9/16;
  border-radius: 5px;
  object-fit: contain;
  background: black;
  cursor: pointer;
}

.progress-input {
  position: absolute;
  bottom: 1%;
  -webkit-appearance: none;
  appearance: none;
  width: 17rem;
  height: 5px;
  background: gray;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
}

.progress-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.progress-input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.progress-input2 {
  height: 6px;
  opacity: 1;
}

.progress-input2::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}

.progress-input2::-moz-range-thumb {
  width: 12px;
  height: 12px;
}

.duration-box {
  position: absolute;
  color: white;
  font-family: monospace;
  bottom: 4%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17rem;
  padding: 0 0.2rem;
}

.play-icon {
  position: absolute;
  fill: white;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
}

.cover-photo {
  position: absolute;
  aspect-ratio: 9/16;
  border-radius: 5px;
  object-fit: cover;
  height: 100%;
}

.audio {
  display: none;
}

.hide-video {
  display: none;
}

.mention-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 2rem 0;
}

.mention-section .container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  height: calc(100vh - 4rem);
  overflow: auto;
  font-family: appFont;
  padding: 1.5rem;
  width: 45vw;
}

.mention-head-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.5rem;
}

.mention-heading {
  margin: 0;
}

.close-icon-box {
  border-radius: 50%;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s;
}

.close-icon {
  width: 1.2rem;
  cursor: pointer;
  height: 1.2rem;
}

.close-icon-box:hover {
  background: var(--app-theme-color);
}

.close-icon-box:hover .close-icon {
  color: white;
}

.mention-search-box {
  margin: 1rem 0 0;
  display: flex;
  align-items: center;
  background: rgba(168, 85, 247, 0.15);
  position: relative;
  border-radius: 8px;
  padding: 0.7rem;
}

.mention-search-icon {
  width: 1.2rem;
  height: 1.2rem;
  color: gray;
}

.mention-clear-icon {
  color: white;
  background: var(--app-theme-color);
  margin-left: auto;
  border-radius: 50%;
  flex-shrink: 0;
  width: 1.05rem;
  height: 1.05rem;
  padding: 0.15rem;
  cursor: pointer;
  transition: all 0.25s;
}

.mention-clear-icon:hover {
  opacity: 0.8;
}

.mention-search-box input {
  background: none;
  border: none;
  width: 100%;
  margin-left: 0.8rem;
  font-size: 1.05rem;
}

.mention-search-div {
  padding-bottom: 1rem;
  position: sticky;
  top: -1.5rem;
  background: white;
  z-index: 2;
}


.search-result {
  width: 100%;
  display: flex;
  cursor: pointer;
  padding: 0.5rem 1rem;
  align-items: center;
}

.search-result:hover {
  background: rgba(168, 85, 247, 0.1);
  border-radius: 5px;
}

.search-img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.name-box {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  font-family: appFont;
  width: calc(100% - 6rem);
}

.search-username {
  font-size: 0.95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.search-handle {
  font-size: 0.85rem;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.type-text {
  color: gray;
  font-family: appFontMedium;
  font-size: 0.9rem;
}

.dot {
  vertical-align: middle;
  font-size: 1rem;
}

.checkbox {
  accent-color: var(--app-theme-color);
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  flex-shrink: 0;
  pointer-events: none;
}


.result-container {
  padding-bottom: 1.5rem;
}


.error-text {
  font-family: appFontMedium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
  row-gap: 1rem;
  margin: 3rem 0;
}

.error-btn {
  outline: none;
  border: 2px solid var(--app-theme-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-family: appFontMedium;
  background: white;
  color: var(--app-theme-color);
  cursor: pointer;
}

.loader-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.collaborators-search-div {
  position: relative
}

.collaborators-result-div {
  position: absolute;
  top: 115%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  background: white;
  box-shadow: 1px 1px 10px -4px black;
  border-radius: 5px;
  height: 15rem;
  overflow: auto;
  scroll-behavior: smooth;
}

.collaborator-list {
  margin: 1.5rem 0 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.collaborator-list-item {
  background: var(--app-theme-color);
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
  font-family: appFont;
  font-size: 0.95rem;
  column-gap: 0.4rem;
}

.collaborator-remove-icon {
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
}

.collaborator-remove-icon:hover {
  color: black;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .mention-section .container {
    width: 50vw;
  }
}

@media screen and (max-width: 1100px) {
  .mention-section .container {
    width: 55vw;
  }

}

@media screen and (max-width: 1000px) {
  .mention-section .container {
    width: 60vw;
  }

}

@media screen and (max-width: 900px) {
  .mention-section .container {
    width: 65vw;
  }

}

@media screen and (max-width: 800px) {
  .upload-details-container {
    padding: 2rem 1rem;
  }

  .mention-section .container {
    width: 70vw;
    padding: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .upload-details-container {
    padding: 2rem 0.5rem;
  }

  .file-description-container {
    flex-direction: column;
  }

  .file-description-box {
    margin: 0.6rem 0 0;
  }

  .collaborators-box,
  .collaborators-result-div {
    width: 70%;
  }

  .mention-section .container {
    width: 80vw;
  }


  .search-result {
    padding: 0.5rem 1rem;
  }
}


@media screen and (max-width: 600px) {


  .mention-section {
    padding: 0;
  }

  .mention-section .container {
    width: 85vw;
    height: 100vh;
    padding: 1rem 0.5rem;
  }

}

@media screen and (max-width: 500px) {
  .upload-details-container {
    padding: 2rem 0rem;
  }

  .collaborators-box,
  .collaborators-result-div {
    width: 85%;
  }


  .mention-section .container {
    width: 95vw;
  }


  .search-result {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 400px) {

  .collaborators-box,
  .collaborators-result-div {
    width: 95%;
  }

  .carousel-details-section {
    padding: 0.5rem;
  }

  .reels-details-section {
    padding-top: 1rem;
  }

  .settings-box2 {
    align-items: flex-start;
  }

  .description-box,
  .file-description-box {
    padding: 0.7rem 0.5rem;
    padding-right: 0;
  }

  .placeholder {
    top: 0.7rem;
  }

  .description,
  .file-description {
    padding-right: 0.5rem;
  }

  .post-btn-div {
    margin: 1rem 0.5rem 0.5rem;
  }


  .mention-section .container {
    width: 100vw;
  }

}